<template>
</template>

<script>
import axios from 'axios';
import Noty from 'noty';// TODO fix on mobiles and colors

export default {
    name: 'authorization',

    props: {
        authenticatedUser: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isAuthenticatedUser: this.authenticatedUser,
        };
    },

    created() {
        EventDispatcher.listen('loginClick',
            /**
             * @param {string} social
             */
            (social) => {
                this.initOAuth2(social);
            });

        EventDispatcher.listen('linkAccountClick',
            /**
             * @param {string} social
             */
            (social) => {
                this.initOAuth2(social);
            });
    },

    methods: {
        /**
         * @param {string} provider
         */
        getLinkToSocialAuthorization(provider) {
            return axios.get('/api/v1/auth/link_to_provider',
                {
                    params: {
                        name: provider
                    }
                })
                .then(response => {
                    if (response.status === 200) {// TODO check is a link
                        return response.data;
                    }
                })
        },

        /**
         * Initializes social authorization.
         *
         * The method opens a child authorization window and calls setInterval, which expects data from the child
         * window. After that, it initializes the user authorization to Backed with the given code.
         *
         * @param {string} provider
         */
        async initOAuth2(provider) {
            let localThis = this,
                childWindow = null;

            let linkToProvider = await this.getLinkToSocialAuthorization(provider)
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();

                    return '';
                });

            if (linkToProvider === '') {
                return;
            }

            childWindow = window.open(linkToProvider, '_blank', 'location=yes,height=750,width=800,scrollbars=yes,status=yes');

            window.loginBackCode = null;

            window.loginInterval = setInterval(function () {
                if (window.loginBackCode !== null) {
                    if (localThis.isAuthenticatedUser) {
                        localThis.linkAccount(provider, loginBackCode);
                    } else {
                        localThis.authorizeUserOnBackend(provider, loginBackCode);
                    }

                    clearInterval(window.loginInterval);
                } else if (childWindow.closed) {
                    clearInterval(window.loginInterval);
                    console.log('closed without auth');
                }
            }, 1000);
        },

        /**
         * Authorizes the user on server
         *
         * @param {string} provider
         * @param {string} code
         */
        authorizeUserOnBackend(provider, code) {
            let localThis = this;

            axios.get('/sanctum/csrf-cookie').then(response => {
                axios.post('/api/v1/auth/social_login',
                    {
                        provider: provider,
                        code: code
                    })
                    .then(response => {
                        if (response.status === 204) {
                            localStorage.setItem('userIsLoggedIn', 'true');

                            localThis.$store.dispatch('authenticatedUser/getUserData')
                                .then(status => {
                                    if (status === true) {
                                        EventDispatcher.fire('userAuthorized');
                                    } else {
                                        new Noty({
                                            text: localThis.$t('Something went wrong. Try again later'),
                                            type: 'error',
                                            timeout: 3000
                                        }).show();
                                    }
                                });
                        } else {
                            new Noty({
                                text: localThis.$t('Something went wrong. Try again later'),
                                type: 'error',
                                timeout: 3000
                            }).show();
                        }
                    })
                    .catch(error => {
                        new Noty({
                            text: this.$t('Something went wrong. Try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    });
            });
        },

        linkAccount(provider, code) {
            axios.post('/api/v1/authenticated/user/socials',
                {
                    provider: provider,
                    code: code
                })
                .then(response => {
                    if (response.status === 201) {
                        EventDispatcher.fire('accountLinked', provider);
                    } else {
                        new Noty({
                            text: this.$t('Something went wrong. Try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: this.$t('Something went wrong. Try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        }
    },
};
</script>
