<template>
    <div>
        <div class="mt-4 bg-white"
             v-if="$store.state.authenticatedUser.isAuthenticated
              && $store.state.authenticatedUser.commonData.id == userId">
            <div class="px-6 border-b">
                <router-link :to="'/user/' + userId + '/posts'"
                             :class="['inline-block', 'px-4', 'py-1',{'py-2': isInReleaseActiveLink}, 'hover:text-indigo-400', {'text-indigo-400': isInReleaseActiveLink}, {'border-b-2': isInReleaseActiveLink}, 'border-indigo-400']"
                >{{ $t('In release') }}
                </router-link>
                <router-link :to="'/user/' + userId + '/posts/drafts'"
                             :class="['inline-block', 'px-4', 'py-1',{'py-2': isDraftsActiveLink}, 'hover:text-indigo-400', {'text-indigo-400': isDraftsActiveLink}, {'border-b-2': isDraftsActiveLink}, 'border-indigo-400']"
                >{{ $t('Drafts') }}
                </router-link>
            </div>
        </div>
        <list-posts
            :link-to-posts-data="isDraftsActiveLink ? '/api/v1/authenticated/posts/drafts' : '/api/v1/users/posts'"
            :query-params="isDraftsActiveLink ? {} : {userId: userId}" :is-drafts="isDraftsActiveLink"></list-posts>
    </div>
</template>

<script>
import ListPosts from "../../components/post/ListPosts";

export default {
    components: {
        ListPosts,
    },

    props: {
        userId: {
            type: Number,
            required: true
        }
    },

    computed: {
        isInReleaseActiveLink() {
            if (this.$route.name === 'userProfile/posts/inRelease') {
                return true;
            }

            return false;
        },

        isDraftsActiveLink() {
            if (this.$route.name === 'userProfile/posts/drafts') {
                return true;
            }

            return false;
        },
    }
}
</script>
