<template>
    <div class="layout-center-column">
        <div class="mt-4 bg-white border-b">
            <div class="px-6">
                <router-link :to="'/user/' + $route.params.id" class="inline-block px-4 py-4 hover:text-indigo-400"
                             exact-active-class="border-b-2 border-indigo-400 text-indigo-400"
                >{{ $t('Posts') }}
                </router-link>
                <router-link :to="'/user/' + $route.params.id + '/comments'"
                             class="inline-block px-4 py-4 hover:text-indigo-400"
                             exact-active-class="border-b-2 border-indigo-400 text-indigo-400"
                >{{ $t('Comments') }}
                </router-link>
                <router-link v-if="thisIsAuthenticatedUser" :to="'/user/' + $route.params.id + '/bookmarks'"
                             class="inline-block px-4 py-4 hover:text-indigo-400"
                             exact-active-class="border-b-2 border-indigo-400 text-indigo-400"
                >{{ $t('Bookmarks') }}
                </router-link>
            </div>
        </div>
        <div class="bg-white">
            <div class="px-6 py-4 flex justify-between">
                <div>
                    <h1 class="text-2xl font-bold flex items-center">{{ user.lastName }} {{ user.firstName }}
                        <router-link
                            v-if="thisIsAuthenticatedUser"
                            :to="'/user/settings'"
                            class="flex ml-4 px-2 py-2 rounded bg-gray-300"
                            :title="$t('Settings')">
                            <svg class="fill-current w-4 h-4" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m499.953125 197.703125-39.351563-8.554687c-3.421874-10.476563-7.660156-20.695313-12.664062-30.539063l21.785156-33.886719c3.890625-6.054687 3.035156-14.003906-2.050781-19.089844l-61.304687-61.304687c-5.085938-5.085937-13.035157-5.941406-19.089844-2.050781l-33.886719 21.785156c-9.84375-5.003906-20.0625-9.242188-30.539063-12.664062l-8.554687-39.351563c-1.527344-7.03125-7.753906-12.046875-14.949219-12.046875h-86.695312c-7.195313 0-13.421875 5.015625-14.949219 12.046875l-8.554687 39.351563c-10.476563 3.421874-20.695313 7.660156-30.539063 12.664062l-33.886719-21.785156c-6.054687-3.890625-14.003906-3.035156-19.089844 2.050781l-61.304687 61.304687c-5.085937 5.085938-5.941406 13.035157-2.050781 19.089844l21.785156 33.886719c-5.003906 9.84375-9.242188 20.0625-12.664062 30.539063l-39.351563 8.554687c-7.03125 1.53125-12.046875 7.753906-12.046875 14.949219v86.695312c0 7.195313 5.015625 13.417969 12.046875 14.949219l39.351563 8.554687c3.421874 10.476563 7.660156 20.695313 12.664062 30.539063l-21.785156 33.886719c-3.890625 6.054687-3.035156 14.003906 2.050781 19.089844l61.304687 61.304687c5.085938 5.085937 13.035157 5.941406 19.089844 2.050781l33.886719-21.785156c9.84375 5.003906 20.0625 9.242188 30.539063 12.664062l8.554687 39.351563c1.527344 7.03125 7.753906 12.046875 14.949219 12.046875h86.695312c7.195313 0 13.421875-5.015625 14.949219-12.046875l8.554687-39.351563c10.476563-3.421874 20.695313-7.660156 30.539063-12.664062l33.886719 21.785156c6.054687 3.890625 14.003906 3.039063 19.089844-2.050781l61.304687-61.304687c5.085937-5.085938 5.941406-13.035157 2.050781-19.089844l-21.785156-33.886719c5.003906-9.84375 9.242188-20.0625 12.664062-30.539063l39.351563-8.554687c7.03125-1.53125 12.046875-7.753906 12.046875-14.949219v-86.695312c0-7.195313-5.015625-13.417969-12.046875-14.949219zm-152.160156 58.296875c0 50.613281-41.179688 91.792969-91.792969 91.792969s-91.792969-41.179688-91.792969-91.792969 41.179688-91.792969 91.792969-91.792969 91.792969 41.179688 91.792969 91.792969zm0 0"/>
                            </svg>
                        </router-link>
                    </h1>
                    <span class="text-gray-600">{{ $t('Date of registration') }}: {{ dateRegistration }}</span>
                </div>
                <a href="#" class="flex">
                    <img
                        :src="user.avatar"
                        class="rounded w-16 h-16">
                </a>
            </div>
        </div>

        <keep-alive>
            <component v-if="currentPageComponent" :is="currentPageComponent"
                       v-bind="currentPageComponentProperties"></component>
        </keep-alive>
    </div>
</template>


<script>
import axios from 'axios';
import CustomDate from "../../services/CustomDate";

export default {
    components: {
        'Posts': () => import('./Posts'),
        'Comments': () => import('./Comments'),
        'BookmarksPosts': () => import('./bookmarks/Posts')
    },

    data() {
        return {
            user: this.$store.state.users.unknownUser,
            thisIsAuthenticatedUser: false,
            currentPageComponent: null
        }
    },

    created() {
        // TODO fix active links
        if (isNaN(parseInt(this.$route.params.id, 10))
            || this.$route.params.id < 1) {
            this.$router.push({name: '404'});
            return;
        }

        this.initPage(parseInt(this.$route.params.id), 10);

        this.currentPageComponent = this.getComponentNameByPathName(this.$route.name);

        if (this.$store.state.authenticatedUser.isAuthenticated === false) {
            let localThis = this;
            this.$store.subscribe(mutation => {
                    if (mutation.type === 'authenticatedUser/SET_USER_DATA') {
                        localThis.thisIsAuthenticatedUser = true;
                    }
                }
            );
        }
    },

    methods: {
        // TODO fix page after login on the current page

        initPage(userId) {
            this.thisIsAuthenticatedUser = this.$store.state.authenticatedUser.isAuthenticated
                && this.$store.state.authenticatedUser.commonData.id === userId;

            if (this.thisIsAuthenticatedUser) {
                this.user = this.$store.state.authenticatedUser.commonData;
            } else {
                let localThis = this;

                this.getUserData(userId)
                    .then(data => {
                        if ('id' in data) {
                            localThis.user = data;
                        } else {
                            localThis.$router.push({name: '404'}); // TODO make page 'Something went wrong'
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 404) {
                            localThis.$router.push({name: '404'});
                        } else {
                            localThis.$router.push({name: '404'}); // TODO make page 'Something went wrong'
                        }
                    });
            }
        },

        getComponentNameByPathName(name) {
            let componentName = 'Posts';

            switch (name) {
                case 'userProfile/posts/inRelease':
                case 'userProfile/posts/drafts':
                    componentName = 'Posts';
                    break;
                case 'userProfile/comments':
                    componentName = 'Comments';
                    break;
                case 'userProfile/bookmarks/posts':
                    componentName = 'BookmarksPosts';
                    break;
                case 'userProfile/bookmarks/comments':
                    componentName = 'BookmarksPosts'; // TODO change to the correct component
                    break;
                case 'userProfile/bookmarks/vacancies':
                    componentName = 'BookmarksPosts'; // TODO change to the correct component
                    break;
            }

            return componentName;
        },

        getUserData(userId) {
            return axios.get('/api/v1/users/' + userId)
                .then(response => {
                    if (response.status === 200 && typeof response.data === 'object') {
                        return response.data;
                    }

                    return {};
                })
        },
    },

    computed: {
        currentPageComponentProperties() {
            return {userId: Number(this.$route.params.id)};
        },

        dateRegistration() {
            if (this.user.createdAt !== '') {
                let date = new CustomDate(this.user.createdAt);
                return date.showHumanReadableDate();
            }

            return '';
        },
    },

    watch: {
        $route(to, from) {
            if (from.params.id !== to.params.id) {
                this.initPage(to.params.id);
            } else {
                this.currentPageComponent = this.getComponentNameByPathName(this.$route.name);
            }
        }
    }
}
</script>
