<template>
    <div class="layout-center-column">
        <div class="mt-4 bg-white">
            <div class="px-6 py-4">
                <h1 class="text-lg font-bold">{{ $t('Settings') }}</h1>
            </div>
        </div>
        <div class="bg-white border-t">
            <form class="px-6 py-4" method="post">
                <h3 class="font-bold">{{ $t('Email') }}</h3>
                <div
                    :class="['flex', 'items-center', 'border-b', {'border-white': !emailIsChanging}, {'border-blue-500': emailIsChanging}, 'py-2']">
                    <input
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="email" placeholder="example@example.com"
                        v-model.trim="email"
                        ref="email"
                        :disabled="!emailIsChanging">
                    <button v-if="!emailIsChanging"
                            @click.prevent="enableEditEmail"
                            class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                    >{{ $t('Edit') }}
                    </button>
                    <button v-if="emailIsChanging"
                            @click.prevent="changeEmail"
                            class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded mr-2"
                    >{{ $t('Save') }}
                    </button>
                    <button v-if="emailIsChanging"
                            @click.prevent="disableEditEmail"
                            class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                    >{{ $t('Cancel') }}
                    </button>
                </div>
            </form>
        </div>
        <div class="bg-white border-t px-6 py-4">
            <h3 class="font-bold">{{ $t('The best posts per week') }}</h3>
            <div class="mt-4">
                <label
                    for="toogleA"
                    class="flex items-center cursor-pointer"
                >
                    <div class="relative">
                        <input id="toogleA" type="checkbox" class="hidden" v-model="getWeeklyNewsletter"/>
                        <div
                            class="toggle__line w-10 h-4 bg-gray-300 rounded-full shadow-inner"
                        ></div>
                        <div
                            class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"
                        ></div>
                    </div>
                    <div
                        class="ml-3 text-gray-700 font-medium"
                    >
                        {{ $t('Get weekly newsletter') }}
                    </div>
                </label>
            </div>
        </div>
        <div class="bg-white border-t px-6 py-4">
            <h3 class="font-bold">{{ $t('Linked accounts') }}</h3>

            <div class="flex items-center text-center text-white mt-4">
                <button
                    @click="changeLinking('vkontakte')"
                    :class="['w-16', 'h-8', 'pt-1', 'rounded', {'bg-gray-400': !vkontakteIsLinked}, {'hover:bg-indigo-600': !vkontakteIsLinked}, {'bg-indigo-600': vkontakteIsLinked}, {'hover:bg-gray-400': vkontakteIsLinked}]"
                    :title="vkontakteIsLinked ? $t('Unlink account') : $t('Link account')">
                    <i class="fa fa-vk"></i></button>
                <button
                    @click="changeLinking('facebook')"
                    :class="['w-16', 'h-8', 'ml-2', 'pt-1', 'rounded', {'bg-gray-400': !facebookIsLinked}, {'hover:bg-blue-800': !facebookIsLinked}, {'bg-blue-800': facebookIsLinked}, {'hover:bg-gray-400': facebookIsLinked}]"
                    :title="facebookIsLinked ? $t('Unlink account') : $t('Link account')"><i
                    class="fa fa-facebook"></i></button>
                <button
                    @click="changeLinking('twitter')"
                    :class="['w-16', 'h-8', 'ml-2', 'pt-1', 'rounded', {'bg-gray-400': !twitterIsLinked}, {'hover:bg-blue-500': !twitterIsLinked}, {'bg-blue-500': twitterIsLinked}, {'hover:bg-gray-400': twitterIsLinked}]"
                    :title="twitterIsLinked ? $t('Unlink account') : $t('Link account')"><i
                    class="fab fa-twitter"></i></button>
                <button
                    @click="changeLinking('google')"
                    :class="['w-16', 'h-8', 'ml-2', 'pt-1', 'rounded', {'bg-gray-400': !googleIsLinked}, {'hover:bg-red-700': !googleIsLinked}, {'bg-red-700': googleIsLinked}, {'hover:bg-gray-400': googleIsLinked}]"
                    :title="googleIsLinked ? $t('Unlink account') : $t('Link account')"><i
                    class="fab fa-google"></i></button>
                <authorization :authenticated-user="true"></authorization>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from 'noty'; // TODO fix on mobiles and colors
import Authorization from "../../components/user/Authorization";

// TODO change small size of the buttons of the email field
export default {
    components: {
        Authorization
    },

    data() {
        return {
            user: this.$store.state.authenticatedUser.commonData,
            email: '',
            currentEmail: '',
            linkedAccounts: [],
            getWeeklyNewsletter: null,
            getWeeklyNewsletterChangedInWatch: false,
            emailIsChanging: false
        }
    },

    created() {
        let localThis = this;

        this.$store.dispatch('authenticatedUser/getUserAdditionalData')
            .then(data => {
                if ('email' in data) {
                    localThis.email = localThis.$store.getters['authenticatedUser/email'];
                    localThis.currentEmail = localThis.$store.getters['authenticatedUser/email'];
                    localThis.linkedAccounts = localThis.$store.getters['authenticatedUser/linkedAccounts'];
                    localThis.getWeeklyNewsletter = localThis.$store.getters['authenticatedUser/getWeeklyNewsletter'];
                } else {
                    new Noty({
                        text: this.$t('Something went wrong. Please try again later'),
                        type: 'info',
                        timeout: 3000
                    }).show();
                }
            });

    },

    methods: {
        /**
         * Enables changing of email input.
         */
        enableEditEmail() {
            this.emailIsChanging = true;
        },

        /**
         * Disables changing of email input.
         */
        disableEditEmail() {
            this.email = this.currentEmail;
            this.emailIsChanging = false;
        },

        changeEmail() {
            if (this.email.toLowerCase() === this.currentEmail.toLowerCase()) {
                this.disableEditEmail();
                return;
            }

            let email = this.email.toLowerCase();
            const regexPattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!(regexPattern.test(email))) {
                new Noty({
                    text: this.$t('Invalid email'),
                    type: 'error',
                    timeout: 3000
                }).show();

                this.$nextTick(() => {
                    this.$refs.email.focus();
                });

                return;
            }

            let localThis = this;

            axios.post('/api/v1/authenticated/user/email', {value: email})
                .then(response => {
                    if (response.status === 204) {
                        new Noty({
                            text: localThis.$t('We sent a confirmation letter to the new email'),
                            type: 'success',
                            timeout: 3000
                        }).show();

                        localThis.disableEditEmail();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    let message = 'Something went wrong. Please try again later';
                    if (
                        error.response.status === 400
                        && 'message' in error.response.data
                        && error.response.data.message === 'Email is busy'
                    ) {
                        message = 'Email is busy';

                        localThis.$nextTick(() => {
                            localThis.$refs.email.focus();
                        });
                    }

                    new Noty({
                        text: localThis.$t(message),
                        type: 'error',
                        timeout: 3000
                    }).show();
                })
        },

        /**
         * Links/Unlinks the user with the provider depending on the current state of the provider
         *
         * @param {string} provider
         */
        changeLinking(provider) {
            let actionLink = true;

            switch (provider) {
                case 'vkontakte':
                    if (this.vkontakteIsLinked) {
                        actionLink = false;
                    }
                    break;
                case 'facebook':
                    if (this.facebookIsLinked) {
                        actionLink = false;
                    }
                    break;
                case 'twitter':
                    if (this.twitterIsLinked) {
                        actionLink = false;
                    }
                    break;
                case 'google':
                    if (this.googleIsLinked) {
                        actionLink = false;
                    }
                    break;
                default:
                    return;
            }

            if (actionLink) {
                this.linkAccount(provider);
            } else {
                this.unlinkAccount(provider);
            }
        },

        /**
         * Link the user with the provider
         *
         * @param {string} provider
         */
        linkAccount(provider) {
            EventDispatcher.fire('linkAccountClick', provider);

            let localThis = this;
            EventDispatcher.listen('accountLinked', (provider) => {
                localThis.linkedAccounts.push(provider);

                new Noty({
                    text: localThis.$t('Account linked') + '!',
                    type: 'success',
                    timeout: 3000
                }).show();
            });
        },

        /**
         * Unlink the user with the provider
         *
         * @param {string} provider
         */
        unlinkAccount(provider) {
            if ((this.vkontakteIsLinked + this.facebookIsLinked + this.twitterIsLinked + this.googleIsLinked) < 2) {
                new Noty({
                    text: this.$t('Can\'t unlink the last linked account'),
                    type: 'error',
                    timeout: 3000
                }).show();

                return;
            }

            let localThis = this;

            axios.delete('/api/v1/authenticated/user/socials', {
                params: {
                    provider: provider
                }
            })
                .then(response => {
                    if (response.status === 204) {

                        let accountIndex = localThis.linkedAccounts.indexOf(provider);

                        if (accountIndex !== -1) {
                            localThis.linkedAccounts.splice(accountIndex, 1);
                        }

                        new Noty({
                            text: localThis.$t('Account unlinked'),
                            type: 'info',
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        },
    },

    watch: {
        getWeeklyNewsletter(newStatus, oldStatus) {
            if (oldStatus === null) {
                return;
            }

            if (this.getWeeklyNewsletterChangedInWatch) {
                this.getWeeklyNewsletterChangedInWatch = false;
                return;
            }

            let localThis = this;
            axios.post('/api/v1/authenticated/user/weekly_newsletter', {
                status: this.getWeeklyNewsletter ? 1 : 0
            })
                .then(response => {
                    if (response.status === 200 && 'newStatus' in response.data) {
                        let message = '',
                            type = 'success';

                        if (response.data.newStatus === 0) {
                            message = localThis.$t('You have unsubscribed from our weekly newsletter');
                            type = 'info';
                        } else {
                            message = localThis.$t('Yeah!') + ' ' + localThis.$t('You now receive our weekly newsletter') + '!';
                        }
                        new Noty({
                            text: message,
                            type: type,
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong'),
                            type: 'error',
                            timeout: 3000
                        }).show();

                        localThis.getWeeklyNewsletterChangedInWatch = true;
                        localThis.getWeeklyNewsletter = oldStatus;
                    }
                })
                .catch(error => {
                    localThis.getWeeklyNewsletterChangedInWatch = true;
                    localThis.getWeeklyNewsletter = oldStatus;

                    new Noty({
                        text: localThis.$t('Something went wrong'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        },
    },

    computed: {
        vkontakteIsLinked() {
            return this.linkedAccounts.indexOf('vkontakte') !== -1;
        },

        facebookIsLinked() {
            return this.linkedAccounts.indexOf('facebook') !== -1;
        },

        twitterIsLinked() {
            return this.linkedAccounts.indexOf('twitter') !== -1;
        },

        googleIsLinked() {
            return this.linkedAccounts.indexOf('google') !== -1;
        },
    },
}
</script>
