<template>
    <div class="bg-white py-4">
        <div class="w-5/6 mx-auto">
            <div class="flex items-center border-b border-blue-200 py-2 mb-4 mx-auto" style="max-width: 650px">
                <input
                    v-model.trim="title"
                    ref="title"
                    v-on:keyup.enter="editor.focus(true)"
                    class="appearance-none bg-transparent border-none w-full text-3xl text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
                    type="text" :placeholder="$t('Header')">
            </div>
            <div id="editor" ref="editor"></div>
            <div class="flex items-center border-b border-blue-200 py-2 my-4 mx-auto" style="max-width: 650px">
                <input
                    v-model="tags"
                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                    type="text" :placeholder="$t('Tags') + ': ' + $t('no more than 10')">
            </div>
            <div class="mx-auto" style="max-width: 650px;">
                <button
                    :disabled="saveButtonIsDisabled"
                    @click="save(false)"
                    class="bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                >{{ $t('Save') }}
                </button>
                <button v-if="isPublished === false"
                        :disabled="publishButtonIsDisabled"
                        @click="publish"
                        class="bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                >{{ $t('Publish') }}
                </button>
                <button
                    @click="preview"
                    v-if="postId !== null"
                    class="bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                >{{ $t('Preview') }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import EditorJS from '@editorjs/editorjs';
import Header from 'editorjs-header-with-anchor';
import ImageTool from '@editorjs/image';
import List from '@editorjs/list';
import Embed from '@editorjs/embed';
import Quote from '@editorjs/quote';
import Delimiter from '@editorjs/delimiter';
import DragDrop from 'editorjs-drag-drop';
import Marker from '@editorjs/marker';
import Noty from 'noty'; // TODO fix on mobiles and colors


export default {
    data() {
        return {
            /**
             * @var EditorJS editor
             */
            editor: null,

            tags: [],
            textIsChanged: false,
            savingInterval: null,

            postId: null,
            title: '',
            slug: null,
            isPublished: false,

            saveButtonIsDisabled: false,
            publishButtonIsDisabled: false,

            titleMinLength: 3,
            titleMaxLength: 100,
        }
    },

    created() {
        if ('id' in this.$route.params) {
            if (isNaN(Number(this.$route.params.id)) || this.$route.params.id < 1) {
                this.$router.push({name: '404'});
                return;
            }

            this.postId = this.$route.params.id;
        }

        window.EventDispatcher.fire('centerColumnIsFull');

        this.createEditor();

        this.$nextTick(() => {
            this.$refs.title.focus();
        });
    },

    methods: {
        async createEditor() {
            let localThis = this,
                data = {};

            if (this.postId !== null) {
                await this.getPostDataFromBackend(this.$route.params.id)
                    .then(responseData => {
                        if ('id' in responseData) {
                            localThis.title = responseData.title;
                            localThis.slug = responseData.slug;
                            localThis.isPublished = responseData.isPublished;
                            data = JSON.parse(responseData.editorData);
                        } else {
                            new Noty({
                                text: localThis.$t('Something went wrong. These articles have not been loaded. Don\'t change anything, otherwise you will lose all your previous data. Please try again later'),
                                type: 'error',
                                timeout: 5000
                            }).show();
                        }
                    });
            }

            this.editor = new EditorJS({
                holder: 'editor',

                logLevel: 'VERBOSE', // TODO change to non develop mode
                tools: {
                    Marker: {
                        class: Marker,
                        shortcut: 'CMD+SHIFT+M',
                    },
                    header: {
                        class: Header,
                        config: {
                            placeholder: this.$t('Enter a header'),
                            levels: [1, 2, 3],
                            defaultLevel: 1,
                            checkHeaderLength: true
                        }
                    },
                    image: {
                        class: ImageTool,
                        inlineToolbar: ['link'],
                        config: {
                            uploader: {
                                /**
                                 * Upload file to the server and return an uploaded image data
                                 *
                                 * @param {File} file - file selected from the device or pasted by drag-n-drop
                                 *
                                 * @return {Promise.<{success, file: {url}}>}
                                 */
                                uploadByFile(file) {
                                    let form = new FormData();
                                    form.append('file', file)

                                    return axios.post('/api/v1/authenticated/posts/writing/file_from_device', form,
                                        {
                                            headers: {
                                                'Content-Type': 'multipart/form-data'
                                            }
                                        })
                                        .then(response => {
                                            if (response.status === 201 && 'url' in response.data) {
                                                return {
                                                    success: 1,
                                                    file: {
                                                        url: response.data.url
                                                    }
                                                };
                                            }

                                            new Noty({
                                                text: localThis.$t('Something went wrong. Please try again later'),
                                                type: 'error',
                                                timeout: 5000
                                            }).show();

                                            return {success: 0};
                                        })
                                        .catch(error => {
                                            let text = '',
                                                data = error.response.data;

                                            if (
                                                error.response.status === 422
                                                && 'errors' in data
                                                && typeof data.errors === 'object'
                                                && 'file' in data.errors
                                                && Array.isArray(data.errors.file)
                                                && data.errors.file.length === 1
                                            ) {
                                                if (
                                                    typeof data.errors.file[0] === 'object'
                                                    && 'type' in data.errors.file[0]
                                                    && data.errors.file[0].type === 'mimes'
                                                    && 'value' in data.errors.file[0]
                                                ) {
                                                    text = localThis.$t('Unsupported file type') + '.'
                                                        + localThis.$t('Available extensions')
                                                        + ': '
                                                        + data.errors.file[0].value;
                                                } else if (
                                                    typeof data.errors.file[0] === 'string'
                                                    && data.errors.file[0].indexOf('MAX_FILE_SIZE=') === 0
                                                ) {
                                                    text = localThis.$t('Maximum file size') + ': '
                                                        + data.errors.file[0].substr(
                                                            'MAX_FILE_SIZE='.length
                                                        ) + 'KB';
                                                }
                                            }

                                            if (text === '') {
                                                text = localThis.$t('Something went wrong. Please try again later');
                                            }

                                            new Noty({
                                                text: text,
                                                type: 'error',
                                                timeout: 5000
                                            }).show();

                                            return {success: 0};
                                        });
                                },

                                /**
                                 * Send URL-string to the server.
                                 * Backend should load image by this URL and return an uploaded image data
                                 *
                                 * @param {string} url - pasted image URL
                                 *
                                 * @return {Promise.<{success, file: {url}}>}
                                 */
                                uploadByUrl(url) {
                                    // your ajax request for uploading
                                    return axios.post('/api/v1/authenticated/posts/writing/file_by_url', {url: url})
                                        .then(response => {
                                            if (response.status === 201 && 'url' in response.data) {
                                                return {
                                                    success: 1,
                                                    file: {
                                                        url: response.data.url
                                                    }
                                                };
                                            }

                                            new Noty({
                                                text: localThis.$t('Something went wrong. Please try again later'),
                                                type: 'error',
                                                timeout: 5000
                                            }).show();

                                            return {success: 0};
                                        })
                                        .catch(error => {
                                            let text = '',
                                                data = error.response.data;

                                            if (
                                                error.response.status === 422
                                                && 'errors' in data
                                                && Array.isArray(data.errors)
                                                && data.errors.length === 1
                                                && typeof data.errors[0] === 'object'
                                                && 'type' in data.errors[0]
                                                && 'value' in data.errors[0]
                                            ) {
                                                if (data.errors[0].type === 'mimes') {
                                                    text = localThis.$t('Unsupported file type') + '.'
                                                        + localThis.$t('Available extensions') + ': '
                                                        + data.errors[0].value;
                                                } else if (data.errors[0].type === 'size') {
                                                    text = localThis.$t('Maximum file size') + ': '
                                                        + data.errors[0].value + 'KB'
                                                } else if (data.errors[0].type === 'status') {
                                                    text = localThis.$t('Can not download the file');
                                                }
                                            }

                                            if (text === '') {
                                                text = localThis.$t('Something went wrong. Please try again later');
                                            }

                                            new Noty({
                                                text: text,
                                                type: 'error',
                                                timeout: 5000
                                            }).show();

                                            return {success: 0};
                                        });
                                }
                            }
                        },
                    },
                    embed: {
                        class: Embed,
                        config: {
                            services: {
                                youtube: true,
                                vimeo: true,
                                coub: true,
                                vine: true,
                                twitter: true,
                                instagram: true,
                                'yandex-music-track': true,
                                gfycat: true,
                                imgur: true,
                                'twitch-video': true,
                            }
                        }
                    },
                    list: {
                        class: List,
                        inlineToolbar: true
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: ['link'],
                        shortcut: 'CMD+SHIFT+O',
                        config: {
                            captionPlaceholder: this.$t('Author name')
                        }
                    },
                    delimiter: Delimiter
                },
                data: data,
                onReady: () => {
                    new DragDrop(localThis.editor);
                    console.log('Editor.js is ready to work!');
                },
                onChange: () => {
                    localThis.textIsChanged = true;
                }
            });

            // Auto save every 15 seconds if the text is changed
            this.savingInterval = setInterval(function () {
                localThis.save(true)
            }, 15000);
        },

        getPostDataFromBackend(postId) {
            let localThis = this;

            return axios.get('/api/v1/authenticated/posts/writing/' + postId + '/data_for_edit')
                .then(response => {
                    if (response.status === 200 && typeof response.data === 'object') {
                        return response.data;
                    }

                    return {};

                })
                .catch(error => {
                    return {};
                })
        },

        save(isAutoSave = false) {
            if (this.title === '' || this.title.length < this.titleMinLength) {
                if (isAutoSave) {
                    return;
                }

                this.$nextTick(() => {
                    this.$refs.title.focus();
                });

                new Noty({
                    text: this.$t('The post header should not be empty'),
                    type: 'error',
                    timeout: 3000
                }).show();

                return;
            }

            if (this.textIsChanged) {
                this.switchButton();

                let localThis = this;

                this.editor.save().then((outputData) => {
                    if (outputData.blocks.length === 0) {
                        if (!isAutoSave) {
                            new Noty({
                                text: localThis.$t('Post should not be empty'),
                                type: 'error',
                                timeout: 3000
                            }).show();
                        }
                        localThis.textIsChanged = false;
                        return;
                    }

                    let data = {
                        postId: localThis.postId,
                        title: localThis.title,
                        editorData: JSON.stringify(outputData),
                        tags: localThis.tags,
                        publish: false
                    }

                    axios.post('/api/v1/authenticated/posts/writing/save', data)
                        .then(response => {
                            if (response.status === 201 && 'postId' in response.data) {
                                localThis.postId = response.data.postId;
                                localThis.$router.push('/writing/' + response.data.postId);
                            } else if (response.status === 204) {
                                if (!isAutoSave) {
                                    new Noty({
                                        text: localThis.$t('Saved'),
                                        type: 'success',
                                        timeout: 3000
                                    }).show();
                                }
                            } else {
                                if (!isAutoSave) {
                                    new Noty({
                                        text: localThis.$t('Something went wrong. Please try again later'),
                                        type: 'error',
                                        timeout: 3000
                                    }).show();
                                }
                            }

                            localThis.switchButton();
                        })
                        .catch(error => {
                            if (!isAutoSave) {
                                new Noty({
                                    text: localThis.$t('Something went wrong. Please try again later'),
                                    type: 'error',
                                    timeout: 3000
                                }).show();
                            }

                            localThis.switchButton();
                        })
                }).catch(error => {
                    if (!isAutoSave) {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                    localThis.switchButton();
                });

                this.textIsChanged = false;
            }
        },

        publish() {
            if (this.title === '' || this.title.length < this.titleMinLength) {
                this.$nextTick(() => {
                    this.$refs.title.focus();
                });

                new Noty({
                    text: this.$t('The post header should not be empty'),
                    type: 'error',
                    timeout: 3000
                }).show();
            }

            this.switchButton(true);

            let localThis = this;

            this.editor.save().then((outputData) => {
                if (outputData.blocks.length === 0) {
                    new Noty({
                        text: localThis.$t('Post should not be empty'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                    return;
                }

                let data = {
                    postId: localThis.postId,
                    title: localThis.title,
                    editorData: JSON.stringify(outputData),
                    tags: localThis.tags,
                    publish: true
                }

                axios.post('/api/v1/authenticated/posts/writing/save', data)
                    .then(response => {
                        if ('slug' in response.data) {
                            localThis.$router.push('/' + response.data.slug);
                        } else {
                            new Noty({
                                text: localThis.$t('Something went wrong. Please try again later'),
                                type: 'error',
                                timeout: 3000
                            }).show();
                        }

                        localThis.switchButton(true);
                    })
                    .catch(error => {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();

                        localThis.switchButton(true);
                    })
            }).catch(error => {
                new Noty({
                    text: localThis.$t('Something went wrong. Please try again later'),
                    type: 'error',
                    timeout: 3000
                }).show();
                localThis.switchButton(true);
            });
        },

        preview() {
            if (this.isPublished === true) {
                window.open('/' + this.slug, '_blank');
            } else {
                window.open('/writing/preview/' + this.postId, '_blank');
            }
        },

        /**
         * Changes the availability status of a button depending on the action (publish or save).
         *
         * @param {boolean} publishAction
         */
        switchButton(publishAction = false) {
            if (publishAction) {
                this.publishButtonIsDisabled = !(this.publishButtonIsDisabled)
            } else {
                this.saveButtonIsDisabled = !(this.saveButtonIsDisabled)
            }
        },
    },

    beforeDestroy() {
        clearInterval(this.savingInterval);
    },

    beforeRouteLeave(to, from, next) {
        window.EventDispatcher.fire('centerColumnIsStandard');
        this.editor.destroy();

        // in order to remove the toolbox block from the DOM. This block is added by Editor.js
        let elements = document.getElementsByClassName('ct');
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }

        next();
    },

    watch: {
        $route(to, from) {
            if ('id' in from.params) {
                clearInterval(this.savingInterval);

                this.postId = null;
                this.title = '';
                this.isPublished = false;
                this.tags = [];
                this.editor.destroy();

                this.createEditor();
            }
        },

        title(newTitle) {
            if (newTitle.length > this.titleMaxLength) {
                this.title = newTitle.substr(0, this.titleMaxLength);
            }
        },
    },
}
</script>
