<template>
    <div>
        <post v-if="postData !== null && author !== null"
              :post-data="postData"
              :author="author"
              :is-preview="true"
              :is-single-page="true"></post>
    </div>
</template>

<script>
import axios from 'axios';
import Post from "../../components/post/Post";

export default {
    components: {
        Post,
    },

    data() {
        return {
            postData: null,
            author: null,
        };
    },

    created() {
        let localThis = this;
        this.getPostData(this.$route.params.id)
            .then(data => {
                localThis.$store.dispatch('users/getUserById', data.authorId)
                    .then(user => {
                        localThis.author = user;
                    });

                localThis.postData = data;
            });
    },

    methods: {
        getPostData(id) {
            return axios.get('/api/v1/authenticated/posts/writing/' + id)
                .then(response => {
                    return response.data;
                })
                .catch()// TODO make catch block
        },
    },
}
</script>
