@import "variables";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "@fortawesome/fontawesome-free/scss/fontawesome";

@import "@fortawesome/fontawesome-free/scss/brands";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.layout-center-column {
    @apply max-w-160 mx-auto mb-4;
}

.toggle__dot {
    @apply -top-1 -left-1 transition-all duration-300 ease-in-out;
}

input:checked ~ .toggle__dot {
    @apply bg-blue-400 transform translate-x-full;
}

.user-menu-enter-active, .user-menu-leave-active {
    @apply transition-all duration-400;
}

.user-menu-enter, .user-menu-leave-to {
    @apply opacity-0 transform translate-y-4;
}

button {
    @apply outline-none overflow-hidden;
}

button:focus {
    @apply outline-none;
}

#editor {
    h1 {
        @apply text-3xl mb-0;
    }

    h2 {
        @apply text-2xl mb-0;
    }

    h3 {
        @apply text-xl mb-0;
    }
}

.header--1 {
    @apply text-4xl font-bold;
}

.header--2 {
    @apply text-3xl font-bold;
}

.header--3 {
    @apply text-2xl font-bold;
}

.header--4 {
    @apply text-xl font-bold;
}

/*
    POST STYLES
 */
.post {
    @apply break-words;
}

.post .layout-center-column {
    @apply px-8;
}

@screen md {
    .post .layout-center-column {
        @apply px-0;
    }
}

.post-content a {
    @apply text-indigo-600 border-dotted border-b;
}

.post-content a:hover {
    @apply text-indigo-400;
}

.post-content mark {
    background-color: #fff24b4a;
}

.post-list--ol {
    @apply list-decimal pl-10;
}

.post-list--ul {
    @apply list-disc pl-10;
}

.post .post-quote {
    @apply py-8 px-8 bg-blue-100 border-t-2 border-b-2 border-gray-200;
}

@screen md {
    .post .layout-center-column {
        @apply px-24;
    }
}

.post-quote__caption {
    @apply mt-6 block text-sm;
}

.post-figure__caption {
    @apply mt-2 pl-2 border-l-4 border-green-500 text-gray-600;
}

.post-figure__iframe-with-border {
    @apply border rounded border-solid border-gray-300;
}
