<template>
    <div>
        <div class="mt-4 bg-white">
            <div class="px-6 border-b">
                <span class="inline-block px-4 py-2 text-indigo-400 border-b-2 border-indigo-400"
                >{{ $t('Posts') }}</span>
                <router-link :to="'/user/' + userId + '/bookmarks/comments'"
                             class="inline-block px-4 py-1 hover:text-indigo-400">{{ $t('Comments') }}
                </router-link>
                <router-link :to="'/user/' + userId + '/bookmarks/vacancies'"
                             class="inline-block px-4 py-1 hover:text-indigo-400">{{ $t('Vacancies') }}
                </router-link>
            </div>
        </div>

        <list-posts link-to-posts-data="/api/v1/authenticated/posts/bookmarks"
                    prop-parameter-name-for-correct-offset="bookmarkCreatedAt"
                    :without-margin-top-for-first-item="true"></list-posts>
    </div>
</template>

<script>
// TODO change firstItemId to firstCreatedAt

import ListPosts from "../../../components/post/ListPosts";

export default {
    components: {
        ListPosts,
    },

    props: {
        userId: {
            type: Number,
            required: true
        }
    },
}
</script>
