/* Bootstrap Overwrites */
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #dd4b39;
}



/*  AdminLTE Overwrites  */
.box {
    border-radius: 0;
    border-top: 1px solid #d2d6de;
}

body[class^='skin-'] .sidebar-menu>li>a {
    border-left: 1px solid transparent;
}

body.skin-purple .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #57549C;
}

body.skin-purple .btn-primary {
    color: #fff;
    background-color: #605ca8;
    border-color: #57549C;
}
body.skin-purple .btn-primary:focus,
body.skin-purple .btn-primary.focus {
    color: #fff;
    background-color: #7673BD;
    border-color: #122b40;
}
body.skin-purple .btn-primary:hover {
    color: #fff;
    background-color: #7673BD;
    border-color: #57549C;
}
body.skin-purple .btn-primary:active,
body.skin-purple .btn-primary.active,
body.skin-purple .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #7673BD;
    border-color: #57549C;
}
body.skin-purple .btn-primary:active:hover,
body.skin-purple .btn-primary.active:hover,
body.skin-purple .open > .dropdown-toggle.btn-primary:hover,
body.skin-purple .btn-primary:active:focus,
body.skin-purple .btn-primary.active:focus,
body.skin-purple .open > .dropdown-toggle.btn-primary:focus,
body.skin-purple .btn-primary:active.focus,
body.skin-purple .btn-primary.active.focus,
body.skin-purple .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #57549C;
    border-color: #122b40;
}
body.skin-purple .btn-primary:active,
body.skin-purple .btn-primary.active,
body.skin-purple .open > .dropdown-toggle.btn-primary {
    background-image: none;
}
body.skin-purple .btn-primary.disabled,
body.skin-purple .btn-primary[disabled],
body.skin-purple fieldset[disabled] .btn-primary,
body.skin-purple .btn-primary.disabled:hover,
body.skin-purple .btn-primary[disabled]:hover,
body.skin-purple fieldset[disabled] .btn-primary:hover,
body.skin-purple .btn-primary.disabled:focus,
body.skin-purple .btn-primary[disabled]:focus,
body.skin-purple fieldset[disabled] .btn-primary:focus,
body.skin-purple .btn-primary.disabled.focus,
body.skin-purple .btn-primary[disabled].focus,
body.skin-purple fieldset[disabled] .btn-primary.focus,
body.skin-purple .btn-primary.disabled:active,
body.skin-purple .btn-primary[disabled]:active,
body.skin-purple fieldset[disabled] .btn-primary:active,
body.skin-purple .btn-primary.disabled.active,
body.skin-purple .btn-primary[disabled].active,
body.skin-purple fieldset[disabled] .btn-primary.active {
    background-color: #605ca8;
    border-color: #57549C;
}
body.skin-purple .btn-primary .badge {
    color: #605ca8;
    background-color: #fff;
}

body.skin-purple .pagination>.active>a,
body.skin-purple .pagination>.active>a:focus,
body.skin-purple .pagination>.active>a:hover,
body.skin-purple .pagination>.active>span,
body.skin-purple .pagination>.active>span:focus,
body.skin-purple .pagination>.active>span:hover {
    background-color: #605ca8;
    border-color: #57549C;
}

.main-footer {
    background: #ecf0f5;
    border: none;
}



/*    ADDITIONAL HELPER CLASSES */

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}


/*    CURSOR HELPERS    */
.cursor-pointer {
    cursor: pointer;
}


/*    MARGIN HELPERS    */
.m-t-0 {
    margin-top: 0px;
}
.m-r-0 {
    margin-right: 0px;
}
.m-l-0 {
    margin-left: 0px;
}
.m-b-0 {
    margin-bottom: 0px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-r-25 {
    margin-right: 25px;
}
.m-l-25 {
    margin-left: 25px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-35 {
    margin-top: 35px;
}
.m-r-35 {
    margin-right: 35px;
}
.m-l-35 {
    margin-left: 35px;
}
.m-b-35 {
    margin-bottom: 35px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-r-40 {
    margin-right: 40px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-t-45 {
    margin-top: 45px;
}
.m-r-45 {
    margin-right: 45px;
}
.m-l-45 {
    margin-left: 45px;
}
.m-b-45 {
    margin-bottom: 45px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-r-50 {
    margin-right: 50px;
}
.m-l-50 {
    margin-left: 50px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.m-t-55 {
    margin-top: 55px;
}
.m-r-55 {
    margin-right: 55px;
}
.m-l-55 {
    margin-left: 55px;
}
.m-b-55 {
    margin-bottom: 55px;
}
.m-t-60 {
    margin-top: 60px;
}
.m-r-60 {
    margin-right: 60px;
}
.m-l-60 {
    margin-left: 60px;
}
.m-b-60 {
    margin-bottom: 60px;
}
.m-t-65 {
    margin-top: 65px;
}
.m-r-65 {
    margin-right: 65px;
}
.m-l-65 {
    margin-left: 65px;
}
.m-b-65 {
    margin-bottom: 65px;
}
.m-t-70 {
    margin-top: 70px;
}
.m-r-70 {
    margin-right: 70px;
}
.m-l-70 {
    margin-left: 70px;
}
.m-b-70 {
    margin-bottom: 70px;
}
.m-t-75 {
    margin-top: 75px;
}
.m-r-75 {
    margin-right: 75px;
}
.m-l-75 {
    margin-left: 75px;
}
.m-b-75 {
    margin-bottom: 75px;
}
.m-t-80 {
    margin-top: 80px;
}
.m-r-80 {
    margin-right: 80px;
}
.m-l-80 {
    margin-left: 80px;
}
.m-b-80 {
    margin-bottom: 80px;
}
.m-t-85 {
    margin-top: 85px;
}
.m-r-85 {
    margin-right: 85px;
}
.m-l-85 {
    margin-left: 85px;
}
.m-b-85 {
    margin-bottom: 85px;
}
.m-t-90 {
    margin-top: 90px;
}
.m-r-90 {
    margin-right: 90px;
}
.m-l-90 {
    margin-left: 90px;
}
.m-b-90 {
    margin-bottom: 90px;
}
.m-t-95 {
    margin-top: 95px;
}
.m-r-95 {
    margin-right: 95px;
}
.m-l-95 {
    margin-left: 95px;
}
.m-b-95 {
    margin-bottom: 95px;
}
.m-t-100 {
    margin-top: 100px;
}
.m-r-100 {
    margin-right: 100px;
}
.m-l-100 {
    margin-left: 100px;
}
.m-b-100 {
    margin-bottom: 100px;
}
.full-height {
    height: 100% !important;
}
.full-width {
    width: 100%;
}
.hide {
    display: none;
}
.inline {
    display: inline-block !important;
}
.block {
    display: block;
}
.b-blank {
    border-color: #000;
}

/*    PADDING HELPERS   */
.p-t-5 {
    padding-top: 5px !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.padding-5 {
    padding: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.padding-10 {
    padding: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.padding-15 {
    padding: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.padding-20 {
    padding: 20px !important;
}
.p-t-25 {
    padding-top: 25px !important;
}
.p-r-25 {
    padding-right: 25px !important;
}
.p-l-25 {
    padding-left: 25px !important;
}
.p-b-25 {
    padding-bottom: 25px !important;
}
.padding-25 {
    padding: 25px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}
.p-l-30 {
    padding-left: 30px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.padding-30 {
    padding: 30px !important;
}
.p-t-35 {
    padding-top: 35px !important;
}
.p-r-35 {
    padding-right: 35px !important;
}
.p-l-35 {
    padding-left: 35px !important;
}
.p-b-35 {
    padding-bottom: 35px !important;
}
.padding-35 {
    padding: 35px !important;
}
.p-t-40 {
    padding-top: 40px !important;
}
.p-r-40 {
    padding-right: 40px !important;
}
.p-l-40 {
    padding-left: 40px !important;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.padding-40 {
    padding: 40px !important;
}
.p-t-45 {
    padding-top: 45px !important;
}
.p-r-45 {
    padding-right: 45px !important;
}
.p-l-45 {
    padding-left: 45px !important;
}
.p-b-45 {
    padding-bottom: 45px !important;
}
.padding-45 {
    padding: 45px !important;
}
.p-t-50 {
    padding-top: 50px !important;
}
.p-r-50 {
    padding-right: 50px !important;
}
.p-l-50 {
    padding-left: 50px !important;
}
.p-b-50 {
    padding-bottom: 50px !important;
}
.padding-50 {
    padding: 50px !important;
}
.p-t-55 {
    padding-top: 55px !important;
}
.p-r-55 {
    padding-right: 55px !important;
}
.p-l-55 {
    padding-left: 55px !important;
}
.p-b-55 {
    padding-bottom: 55px !important;
}
.padding-55 {
    padding: 55px !important;
}
.p-t-60 {
    padding-top: 60px !important;
}
.p-r-60 {
    padding-right: 60px !important;
}
.p-l-60 {
    padding-left: 60px !important;
}
.p-b-60 {
    padding-bottom: 60px !important;
}
.padding-60 {
    padding: 60px !important;
}
.p-t-65 {
    padding-top: 65px !important;
}
.p-r-65 {
    padding-right: 65px !important;
}
.p-l-65 {
    padding-left: 65px !important;
}
.p-b-65 {
    padding-bottom: 65px !important;
}
.padding-65 {
    padding: 65px !important;
}
.p-t-70 {
    padding-top: 70px !important;
}
.p-r-70 {
    padding-right: 70px !important;
}
.p-l-70 {
    padding-left: 70px !important;
}
.p-b-70 {
    padding-bottom: 70px !important;
}
.padding-70 {
    padding: 70px !important;
}
.p-t-75 {
    padding-top: 75px !important;
}
.p-r-75 {
    padding-right: 75px !important;
}
.p-l-75 {
    padding-left: 75px !important;
}
.p-b-75 {
    padding-bottom: 75px !important;
}
.padding-75 {
    padding: 75px !important;
}
.p-t-80 {
    padding-top: 80px !important;
}
.p-r-80 {
    padding-right: 80px !important;
}
.p-l-80 {
    padding-left: 80px !important;
}
.p-b-80 {
    padding-bottom: 80px !important;
}
.padding-80 {
    padding: 80px !important;
}
.p-t-85 {
    padding-top: 85px !important;
}
.p-r-85 {
    padding-right: 85px !important;
}
.p-l-85 {
    padding-left: 85px !important;
}
.p-b-85 {
    padding-bottom: 85px !important;
}
.padding-85 {
    padding: 85px !important;
}
.p-t-90 {
    padding-top: 90px !important;
}
.p-r-90 {
    padding-right: 90px !important;
}
.p-l-90 {
    padding-left: 90px !important;
}
.p-b-90 {
    padding-bottom: 90px !important;
}
.padding-90 {
    padding: 90px !important;
}
.p-t-95 {
    padding-top: 95px !important;
}
.p-r-95 {
    padding-right: 95px !important;
}
.p-l-95 {
    padding-left: 95px !important;
}
.p-b-95 {
    padding-bottom: 95px !important;
}
.padding-95 {
    padding: 95px !important;
}
.p-t-100 {
    padding-top: 100px !important;
}
.p-r-100 {
    padding-right: 100px !important;
}
.p-l-100 {
    padding-left: 100px !important;
}
.p-b-100 {
    padding-bottom: 100px !important;
}
.padding-100 {
    padding: 100px !important;
}

/*    OVERRIDES */

.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-overflow {
    overflow: hidden !important;
}
.auto-overflow {
    overflow: auto;
}
.center-margin {
    margin-left: auto;
    margin-right: auto;
}
.inherit-size {
    width: inherit;
    height: inherit;
}
.inherit-height {
    height: inherit;
}
.image-responsive-height {
    width: 100%;
}
.image-responsive-width {
    height: 100%;
}
.overlayer {
    position: absolute;
    display: block;
    z-index: 21;
}
.overlayer.fullwidth {
    width: 100%;
}
.overlayer-wrapper {
    position: relative;
    display: block;
    z-index: 10;
}
.overlay-fixed {
    position: fixed !important;
    top: auto !important;
}
.top-left {
    position: absolute !important;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute !important;
    top: 1px;
    right: 0;
}
.bottom-left {
    position: absolute !important;
    bottom: 1px;
    left: 0;
}
.bottom-right {
    position: absolute !important;
    bottom: 0;
    right: 0;
}
.pull-bottom {
    position: absolute !important;
    bottom: 0;
}
.pull-up {
    position: absolute !important;
    top: 0;
}
.cursor {
    cursor: pointer;
}
.scroll-x-hidden {
    overflow-x: hidden !important;
}

/*    BORDER HELPERS  */

.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
    border-style: solid;
    border-width: 0;
}
.b-r {
    border-right-width: 1px;
}
.b-l {
    border-left-width: 1px;
}
.b-t {
    border-top-width: 1px;
}
.b-b {
    border-bottom-width: 1px;
}
.b-a {
    border-width: 1px;
}
.b-dashed {
    border-style: dashed;
}
.b-thick {
    border-width: 2px;
}
.b-transparent {
    border-color: rgba(0, 0, 0, 0.4);
}
.b-transparent-white {
    border-color: rgba(255, 255, 255, 0.3);
}
.b-grey {
    border-color: #e6e6e6;
}
.b-white {
    border-color: #fff;
}
.b-primary {
    border-color: #6d5cae;
}
.b-complete {
    border-color: #6d5cae;
}
.b-success {
    border-color: #10cfbd;
}
.b-info {
    border-color: #3b4752;
}
.b-danger {
    border-color: #f55753;
}
.b-warning {
    border-color: #f8d053;
}

/*    FLEXBOX HELPERS */

.display-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/*    BORDER RADIUS HELPERS */

.b-rad-sm {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.b-rad-md {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.b-rad-lg {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.no-border {
    border: none !important;
}

/*    BACKGROUND HELPERS (additional) */

.bg-none {
    background: none;
}

/* select2 overwrites */
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none!important;
    border-radius: 0!important;
}


.nav-steps-wrapper {
    display: table;
    margin: 0 auto;
}

.nav-steps {
    background: #ecf0f5;
    border-bottom: 1px solid #f4f4f4;
}

.nav-steps>li>a,
.nav-steps>li>a:hover,
.nav-steps>li>a:focus
.nav-steps>li.active>a:hover,
.nav-steps>li.active>a:focus {
    background: transparent!important;
    border: none!important;
    color: inherit;
}

.nav-steps li a strong {
    background: #f4f4f4;
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
    color: #666;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 45px;
}

.nav-steps li.active a strong {
    background: #3c8dbc;
    color: white;
}

body.skin-purple .nav-steps li.active a strong {
    background: #57549C;
}

.nav-steps li.active a {
    background-color: #ecf0f5;
    border: none;
    box-shadow: none;
}

.nav-steps li {
    margin: 0 auto;
    border: none;
    box-shadow: none;
}
