<template>
    <div class="layout-center-column -mt-4 md:mt-0">
        <list-posts link-to-posts-data="/api/v1/posts"></list-posts>
    </div>
</template>

<script>
import ListPosts from '../components/post/ListPosts';

export default {
    components: {
        ListPosts
    },
};
</script>
