<template>
    <div class="bg-white py-4">
        <post-header v-if="postData != null"
                     :author-id="author.id"
                     :author-avatar="author.avatar"
                     :author-first-name="author.firstName"
                     :author-last-name="author.lastName"
                     :post-id="postData.id"
                     :post-posted-at="postData.postedAt"
                     class="layout-center-column flex items-center justify-between text-gray-600"
        ></post-header>
        <div class="layout-center-column" v-if="postData != null">
            <h1 class="header--1 leading-tight">{{ postData.title }}</h1>
        </div>
        <div v-if="postData != null && postData.description != ''"
             class="layout-center-column">{{ postData.description }}
        </div>
        <div class="layout-center-column">
            <div class="flex items-center justify-between text-gray-600">
                <a href="#" class="flex items-center hover:text-indigo-400">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 511.072 511.072"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z"/>
                    </svg>
                    <span class="ml-1">{{ $t('Discuss') }}</span>
                </a>
                <div class="flex items-center text-center">
                    <a href="#" class="w-8 h-6 rounded bg-indigo-600 hover:bg-indigo-700"><i
                        class="text-xs text-white fa fa-vk" aria-hidden="true"></i></a>
                    <a href="#" class="w-8 h-6 ml-2 rounded bg-blue-800 hover:bg-blue-900"><i
                        class="text-xs text-white fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="w-8 h-6 ml-2 rounded bg-blue-500 hover:bg-blue-600"><i
                        class="text-xs text-white fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="w-8 h-6 ml-2 rounded bg-indigo-500 hover:bg-indigo-600"><i
                        class="text-xs text-white fab fa-telegram-plane" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>


        <div class="layout-center-column">
            Но в прошлом году Mazda наконец объявил о своем первом электрокаре: MX-30.
        </div>
        <figure class="layout-center-column">
            <img class="w-full" src="https://mbhn.ru/assets/uploads/common/481f057cdd0f75a81867b0afdc938a6a.jpg"
                 alt="">
            <figcaption class="post-figure__caption">Автосалон Франкфурт 2019 Шкода
            </figcaption>
        </figure>
        <div class="layout-center-column">
            Обзоры были смешанным, а все из-за относительно небольшого батарейного блока и запаса
            хода.
        </div>
        <figure class="layout-center-column">
            <iframe class="w-full h-84" src="https://www.youtube.com/embed/Ba-hRW6SP4o" frameborder="0"
                    allowfullscreen></iframe>
            <figcaption class="post-quote__caption">Автосалон
                Франкфурт 2019 Шкода
            </figcaption>
        </figure>
        <div class="layout-center-column">
            Но была одна вещь, которую раньше упускали в обзоре нового MX-30 Mazda - они не только
            специально сделали аккумулятор меньше, но и снизили крутящий момент электродвигателя, чтобы
            соответствовать ускорению бензинового автомобиля.
        </div>
        <blockquote class="layout-center-column post-quote">
            <p>Инженеры Mazda настроили подачу крутящего момента электродвигателя MX-30 так, чтобы машина была менее
                безумной, чем это часто случается с EV. Фирма мотивирует это тем, что они хотят, чтобы MX-30
                чувствовался не так драматично отличающимся от типичного автомобиля с двигателем внутреннего
                сгорания.</p>
            <cite class="post-quote__caption">Из интервью Autocar с руководителями Mazda</cite>
        </blockquote>
        <ul class="layout-center-column post-ul-list">
            <li>qwerty</li>
            <li>qwerty</li>
        </ul>
        <ol class="layout-center-column post-ol-list">
            <li>qwerty</li>
            <li>qwerty</li>
        </ol>
        <figure class="mb-4">
            <iframe class="w-full h-100" src="https://www.youtube.com/embed/Ba-hRW6SP4o" frameborder="0"
                    allowfullscreen></iframe>
            <figcaption class="layout-center mt-2 pl-2 border-l-4 border-green-500 text-gray-600">Автосалон
                Франкфурт 2019 Шкода
            </figcaption>
        </figure>
        <div class="layout-center-column">
            MX-30 оснащен аккумулятором 35,5 кВт*ч и силовым агрегатом, способным выдавать мощность 105 кВт
            (142 л.с.) и крутящий момент 264 Нм (192 фунт-фут). Для европейской модели запас хода составляет
            130 миль (~ 210 км), что, вероятно, рассчитано по стандарту тестирования WLTP. Это означает, что
            диапазон EPA, вероятно, будет ниже, около 110-120 миль(~ 175-195 км).
        </div>
        <figure class="mb-4">
            <img class="w-full"
                 src="https://mbhn.ru/assets/uploads/common/2244cebf912835e446622630a1cdc9f4.jpg"
                 alt="">
            <figcaption class="layout-center-column post-figure__caption">Автосалон
                Франкфурт 2019 Шкода
            </figcaption>
        </figure>
        <div class="layout-center-column">
            Ожидается, что разгон электрокара от 0 до 100 км/ч составит 9 секунд.
        </div>
        <h2 class="layout-center-column header--2">Рассуждения на MBH News</h2>
        <div class="layout-center-column">
            Чтобы быть справедливым, большинству электрических производителей приходится снижать крутящий
            момент своих электродвигателей, потому что шины часто не обеспечивают необходимую силу сцепления
            для его поддержки.
        </div>
        <div class="layout-center-column">
            Тем не менее, похоже, что Mazda пошла дальше и сократила еще больше, чтобы соответствовать более
            медленной норме крутящего момента на ДВС.
        </div>
        <div class="layout-center-column">
            Это просто смешно.
        </div>
        <div class="layout-center-column">
            Быстрое и бодрое ускорение - одна из самых увлекательных частей в езде на электрокаре. Известно,
            что Mazda любит настраивать свои автомобили под особые ощущения от вождения. Но это странно, что
            они не стали делать столь чувственное ускорение своим ощущением от вождения.
        </div>
        <div class="layout-center-column">
            А что вы думаете о решении японского автопроизводителя? Расскажите нам в <a href="#">комментариях
            ниже</a>.
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import PostHeader from "../components/post/PostHeader";
import Vote from '../components/post/Vote';

export default {
    components: {
        PostHeader,
        Vote,
    },

    data() {
        return {
            postData: null,
            author: this.$store.state.users.unknownUser,
        };
    },

    created() {
        let localThis = this;
        this.getPostData(this.$route.params.slug)
            .then(data => {
                localThis.postData = data;

                localThis.$store.dispatch('users/getUserById', data.authorId)
                    .then(user => {
                        localThis.author = user;
                    });
            });

    },

    methods: {
        getPostData(slug) {
            return axios.get('/api/v1/posts/' + slug)
                .then(response => {
                    return response.data;
                })
                .catch()// TODO make catch block
        }
    },

    computed: {
        currentRating() {
            return this.postData.countPositiveVotes - this.postData.countNegativeVotes;
        },
    },
}
</script>
