<template>
    <div>
        <post v-if="postData !== null && author !== null"
              :post-data="postData"
              :author="author"
              :is-single-page="true"></post>

        <comments v-if="postData !== null && author !== null"
                  class="px-8 lg:px-0"
                  :post-id="postData.id"
                  :count-comments="postData.countComments ? postData.countComments : 0"
                  ref="comments"></comments>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from "noty";
import Post from "../components/post/Post";
import Comments from "../components/post/comment/Main";

export default {
    components: {
        Post,
        Comments,
    },

    data() {
        return {
            postData: null,
            author: null,

            dataIsLoaded: false
        };
    },

    created() {
        if (this.$route.params.slug.length < 1) {
            this.$router.push({name: '404'});
            return;
        }

        let localThis = this;

        this.getPostData(this.$route.params.slug)
            .then(data => {
                if ('id' in data) {
                    localThis.$store.dispatch('users/getUserById', data.authorId)
                        .then(user => {
                            localThis.author = user;
                            localThis.dataIsLoaded = true;
                            localThis.goToComments();
                        });

                    localThis.postData = data;
                } else {
                    localThis.$router.push({name: '404'}); // TODO make page 'Something went wrong'
                }
            })
            .catch(error => {
                if (error.response.status === 404) {
                    localThis.$router.push({name: '404'});
                } else {
                    localThis.$router.push({name: '404'}); // TODO make page 'Something went wrong'
                }
            });
    },

    methods: {
        getPostData(slug) {
            return axios.get('/api/v1/posts/' + slug)
                .then(response => {
                    if (response.status === 200 && typeof response.data === 'object') {
                        return response.data;
                    }

                    return {};
                })
        },

        goToComments() {
            if (
                'to' in this.$route.query
                && this.$route.query.to === 'comments'
            ) {
                let localThis = this,
                    timeOut = setTimeout(function () {
                        if (typeof localThis.$refs['comments'] !== 'undefined') {
                            let element = localThis.$refs['comments'];

                            let windowHeight = window.innerHeight; // TODO dedicate the scroll class

                            window.scrollTo({
                                top: element.$el.offsetTop - Math.floor(windowHeight / 4),
                                behavior: 'smooth',
                            });

                            clearTimeout(timeOut);
                        }
                    }, 1000);
            }
        }
    },

    watch: {
        /**
         * The comment block will not be displayed from the beginning.
         * We need to wait until this(and the ref thereafter) is created.
         *
         * @param newRefs
         * @param oldRefs
         */
        $refs(newRefs, oldRefs) {
            if (typeof newRefs['comments'] !== 'undefined') {
                this.goToComments();
            }
        }
    },
}
</script>
