<template>
    <div class="bg-white py-4 px-6">
        <div class="layout-center-column">
            <h1 class="header--1 leading-tight py-6">{{
                    $t('Search') + ':'
                }}</h1>
            <list-posts v-if="showListItems"
                        link-to-posts-data="/api/v1/posts/search"
                        :query-params="{query: query}"
                        :is-search-page="true"></list-posts>
        </div>
    </div>
</template>

<script>
import Noty from "noty";
import ListPosts from '../components/post/ListPosts';

export default {
    components: {
        ListPosts
    },

    data() {
        return {
            showListItems: false,

            query: '',

            // IMPORTANT !!!
            // if someone changes the values below you need to change the language files
            // because they have static values(3 and 100).
            minQueryLength: 3,
            maxQueryLength: 100,
        }
    },

    created() {
        if (!('query' in this.$route.params) || this.$route.params.query.length === 0) {
            return;
        }

        this.query = this.$route.params.query;

        if (this.checkQueryLengthAndShowNotificationIfInvalid()) {
            this.showListItems = true;
        }
    },

    methods: {
        checkQueryLengthAndShowNotificationIfInvalid() {
            if (this.query.length > this.minQueryLength || this.query.length < this.maxQueryLength) {
                return true;
            }

            new Noty({
                text: this.$t('Search query must be more than 3 and less than 100 characters'),
                type: 'error',
                timeout: 3000
            }).show();

            return false;
        }
    },
};
</script>
