<template>
    <div :class="['border', {'cursor-pointer': editorIsActive === false}]">
        <p :contenteditable="editorIsActive"
           @click="activateEditor"
           :class="['w-full', 'min-h-6', 'p-4', 'focus:outline-none', {'text-gray-500': editorIsActive === false}]"
           @input="onInput"
           ref="editor">{{ editorIsActive ? '' : editorPlaceholder }}</p>
        <div v-if="editorIsActive"
             class="m-4 flex flex-row-reverse">
            <button
                class="bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
                @click="send">
                {{ parentId ? $t('Reply') : $t('Send') }}
            </button>
            <button v-if="parentId !== 0"
                    @click="cancelReply"
                    class="mr-4 text-gray-600">{{ $t('Cancel') }}
            </button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from "noty";

export default {
    name: 'comment-form',

    props: {
        postId: {
            type: Number,
            required: true,
        },
        parentId: {
            type: Number,
            default: 0
        },
        parentLevel: {
            type: Number,
            default: 0
        },
        parentUserFirstName: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            message: '',
            editorIsActive: false,
            editorPlaceholder: this.$t('Write a comment') + '...'
        }
    },

    created() {
        if (this.parentId) {
            this.editorIsActive = true;
            this.$nextTick(() => {
                this.$refs.editor.focus();
            });
        } else {
            EventDispatcher.listen('close_opened_comments', this.disableEditor);
        }
    },

    methods: {
        send() {
            if (this.message.length === 0) {
                new Noty({
                    text: this.$t('A comment must not be empty'),
                    type: 'error',
                    timeout: 1000
                }).show();

                return;
            }

            if (this.$store.state.authenticatedUser.isAuthenticated === false) {
                EventDispatcher.fire('showPopup', 'login');
                return;
            }

            let localThis = this,
                data = {
                    message: this.message
                };

            if (this.parentId !== 0) {
                data.parentId = this.parentId;
            }

            axios.post('/api/v1/authenticated/posts/' + this.postId + '/comments', data)
                .then(response => {
                    if (response.status === 201 && 'id' in response.data) {
                        localThis.publishComment(response.data.id);
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 1000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 1000
                    }).show();
                });
        },

        cancelReply() {
            EventDispatcher.fire('close_opened_comments');
        },

        activateEditor() {
            if (this.editorIsActive) {
                return;
            }

            EventDispatcher.fire('close_opened_comments');

            this.$refs.editor.innerHTML = this.message;
            this.editorIsActive = true;
            this.$nextTick(() => {
                this.$refs.editor.focus();
            });
        },

        disableEditor() {
            this.$refs.editor.innerHTML = this.editorPlaceholder;
            this.editorIsActive = false;
        },

        onInput(e) {
            this.message = e.target.innerHTML.trim();
        },

        publishComment(commentId) {
            let newItem = {
                id: commentId,
                postId: this.postId,
                message: this.message,

                userId: this.$store.state.authenticatedUser.commonData.id,
                userFirstName: this.$store.state.authenticatedUser.commonData.firstName,
                userLastName: this.$store.state.authenticatedUser.commonData.lastName,
                userAvatar: this.$store.state.authenticatedUser.commonData.avatar,

                parentId: this.parentId === 0 ? null : this.parentId,
                parentUserFirstName: this.parentUserFirstName,

                hasChildren: 0,
                children: [],
                idDeleted: 0,
                level: this.parentLevel + 1,
                createdAt: ''
            };

            if (this.parentId === 0) { // Main component
                this.$parent.items.push(newItem);
            } else if (this.parentLevel < 3) {
                this.$parent.childItems.push(newItem);
            } else { // List item component
                this.$parent.$parent.childItems.push(newItem);
            }

            if (this.$parent.commentHasChildren === false) {
                this.$parent.childrenIsHidden = false;
                this.$parent.commentHasChildren = true;
            }

            // The parent comment should start to listen the highlight events.
            if (this.parentId > 0) {
                this.$parent.listenHighLightEvents();
            }

            this.message = '';

            EventDispatcher.fire('close_opened_comments');
            this.$nextTick(() => {
                this.$parent.goToComment(commentId, this.parentLevel, false);
            });
        }
    },

    beforeDestroy() {
        if (this.parentId === 0) {
            EventDispatcher.destroy('close_opened_comments', this.disableEditor);
        }
    }
};
</script>
