<template>
    <div>
        <div
            :class="['py-4', {'bg-blue-200': highLightCommentByMouseEvent}, {'bg-blue-200': highLightCommentWithoutMouseEvent}]">
            <div class="flex items-center">
                <router-link v-if="commentIsDeleted === false" :to="'/user/' + userId" class="flex items-center">
                    <img
                        :src="userAvatar"
                        :class="['rounded', {'w-8': level < 3}, {'h-8': level < 3}, {'w-4': level > 2}, {'h-4': level > 2}]"
                        alt="">
                    <span class="ml-2 hover:text-indigo-600">{{ userLastName }} {{ userFirstName }}</span>
                </router-link>
                <span v-if="commentIsDeleted === false && parentId !== null"
                      :title="$t('Go to comment')"
                      @click="goToComment(parentId, level)"
                      @mouseover="initHighlightCommentByMouseEvent(parentId)"
                      @mouseleave="initCancelHighlightCommentByMouseEvent(parentId)"
                      class="flex items-center ml-4 cursor-pointer hover:text-indigo-600"><svg
                    class="inline-block mr-4 fill-current w-3 h-3" viewBox="0 0 512.002 512.002"><defs/><path
                    d="M388.425 241.951L151.609 5.79c-7.759-7.733-20.321-7.72-28.067.04-7.74 7.759-7.72 20.328.04 28.067l222.72 222.105-222.728 222.104c-7.759 7.74-7.779 20.301-.04 28.061a19.8 19.8 0 0014.057 5.835 19.79 19.79 0 0014.017-5.795l236.817-236.155c3.737-3.718 5.834-8.778 5.834-14.05s-2.103-10.326-5.834-14.051z"/></svg>{{
                        parentUserFirstName
                    }}</span>
                <span v-if="commentIsDeleted === false" class="ml-6">{{ commentCreatedAt }}</span>
            </div>
            <div :class="['my-2', {'text-gray-600': commentIsDeleted}]">
                {{ commentIsDeleted ? $t('Comment has been deleted') : message }}
            </div>
            <div class="mt-4" v-if="commentIsDeleted === false">
                <span class="text-gray-700 cursor-pointer hover:text-indigo-600"
                      @click="initReply(id)">{{ $t('Reply') }}</span>
            </div>

            <comment-form v-if="formReplyIsActive"
                          :post-id="postId"
                          :parent-id="id"
                          :parent-level="level"
                          :parent-user-first-name="userFirstName"
                          class="my-4"></comment-form>

            <div class="my-4 cursor-pointer text-indigo-600 hover:text-indigo-400"
                 v-if="level === 2 && commentHasChildren === true && childrenIsHidden"
                 @click="getChildComments(id)">
                {{ $t('Expand branch') }}
            </div>
        </div>
        <div v-if="level === 1 || (level === 2 && commentHasChildren === true && childItems.length > 0)"
             class="pl-8 border-l-2 border-dashed">
            <comment-list-item v-for="item in childItems"
                               :key="item.id"
                               v-bind="item"
                               :id="item.id"
                               :post-id="postId"
                               :parent-user-first-name="(item.parentId === id) ? userFirstName : getUserFirstNameOfParentCommentFromChildList(item.id)"
                               :ref="'comment_' + item.id"></comment-list-item>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from "noty";
import CustomDate from "../../../services/CustomDate";
import CommentForm from "./Form";

export default {
    name: 'comment-list-item',

    components: {
        CommentForm
    },

    props: {
        postId: {
            type: Number,
            required: true,
        },

        id: {
            type: Number,
            required: true,
        },
        parentId: {
            type: Number,
            default: null,
        },
        message: {
            type: String,
            default: '',
        },
        rating: {
            type: Number,
            default: 0,
        },
        nodeId: {
            type: Number,
            default: 1,
        },
        level: {
            type: Number,
            default: 1,
        },
        leftKey: {
            type: Number,
            default: 1,
        },
        rightKey: {
            type: Number,
            default: 2,
        },
        createdAt: {
            type: String,
            default: '',
        },
        isDeleted: {
            type: Number,
            default: 0,
        },

        hasChildren: {
            type: Number,
            default: 0,
        },
        children: {
            type: Array,
            default: function () {
                return [];
            }
        },

        userId: {
            type: Number,
            default: null,
        },
        userFirstName: {
            type: String,
            default: '',
        },
        userLastName: {
            type: String,
            default: '',
        },
        userAvatar: {
            type: String,
            default: '',
        },

        parentUserFirstName: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            childItems: this.children,
            childrenIsHidden: true,
            commentHasChildren: !!(this.hasChildren),

            highLightCommentByMouseEvent: false,
            highLightCommentWithoutMouseEvent: false,

            formReplyIsActive: false,
        }
    },

    created() {
        if (this.commentHasChildren) {
            this.listenHighLightEvents();
        }
    },

    methods: {
        getChildComments(parentCommentId) {
            let localThis = this;

            axios.get('/api/v1/posts/' + this.postId + '/comments', {
                params: {
                    parentId: parentCommentId
                }
            })
                .then(response => {
                    if (response.status === 200 && Array.isArray(response.data)) {
                        localThis.childItems = response.data.concat(localThis.childItems);
                        localThis.childrenIsHidden = false;
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 1000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 1000
                    }).show();
                });
        },

        initReply(commentId) {
            EventDispatcher.fire('close_opened_comments');

            this.formReplyIsActive = true;
            EventDispatcher.listen('close_opened_comments', this.closeReply);
        },

        closeReply() {
            this.formReplyIsActive = false;
            EventDispatcher.destroy('close_opened_comments', this.closeReply);
        },

        /**
         *
         * @param {Number} commentId
         * @param {Number} currentCommentLevel
         * @param {Boolean} above
         */
        goToComment(commentId, currentCommentLevel, above = true) {
            let element = null;

            if (
                (
                    (above && currentCommentLevel !== 2 || currentCommentLevel !== 3) // Go to the parent comment from any comment level except the second and third.
                    || (above === false && currentCommentLevel > 2) // Go to the child comment from more than the second comment level.
                )
                && typeof this.$parent.$refs['comment_' + commentId] !== 'undefined'
                && typeof this.$parent.$refs['comment_' + commentId][0] !== 'undefined'
            ) {
                element = this.$parent.$refs['comment_' + commentId][0];
            } else if ( // Go to the parent comment from the second or third comment level. We need to look for the $ref of the comment in the parent of the parent component.
                above
                && (currentCommentLevel === 2 || currentCommentLevel === 3)
                && typeof this.$parent.$parent.$refs['comment_' + commentId] !== 'undefined'
                && typeof this.$parent.$parent.$refs['comment_' + commentId][0] !== 'undefined'
            ) {
                element = this.$parent.$parent.$refs['comment_' + commentId][0];
            } else if ( // Go to the child comment from the first or second comment level
                above === false
                && currentCommentLevel < 3
                && typeof this.$refs['comment_' + commentId] !== 'undefined'
                && typeof this.$refs['comment_' + commentId][0] !== 'undefined'
            ) {
                element = this.$refs['comment_' + commentId][0];
            }

            if (element !== null) {
                let windowHeight = window.innerHeight;

                window.scrollTo({
                    top: element.$el.offsetTop - Math.floor(windowHeight / 4),
                    behavior: 'smooth',
                })

                element.highLightCurrentCommentWithoutMouseEvent();

                setTimeout(function () {
                    element.cancelHighLightCurrentCommentWithoutMouseEvent();
                }, 2000);
            }
        },

        listenHighLightEvents() {
            EventDispatcher.listen('highlight_comment_' + this.id, this.highLightCurrentCommentByMouseEvent);
            EventDispatcher.listen('cancel_highlight_comment_' + this.id, this.cancelHighLightCurrentCommentByMouseEvent);
        },

        initHighlightCommentByMouseEvent(commentId) {
            EventDispatcher.fire('highlight_comment_' + commentId);
        },

        initCancelHighlightCommentByMouseEvent(commentId) {
            EventDispatcher.fire('cancel_highlight_comment_' + commentId);
        },

        highLightCurrentCommentByMouseEvent() {
            this.highLightCommentByMouseEvent = true;
        },

        cancelHighLightCurrentCommentByMouseEvent() {
            this.highLightCommentByMouseEvent = false;
        },

        highLightCurrentCommentWithoutMouseEvent() {
            this.highLightCommentWithoutMouseEvent = true;
        },

        cancelHighLightCurrentCommentWithoutMouseEvent() {
            this.highLightCommentWithoutMouseEvent = false;
        },

        getUserFirstNameOfParentCommentFromChildList(commentId) {
            let name = '';

            for (let i = 0; i < this.childItems.length; i++) {
                if (this.childItems[i].id === commentId) {
                    name = this.childItems[i].userFirstName;
                    break;
                }
            }

            return name;
        },
    },

    computed: {
        commentCreatedAt() {
            let date = new CustomDate(this.createdAt);
            if (this.level > 2) {
                return date.showPassedTime(true);
            }

            return date.showPassedTime();
        },

        commentIsDeleted() {
            return !!this.isDeleted;
        }
    },

    beforeDestroy() {
        if (this.commentHasChildren) {
            EventDispatcher.destroy('highlight_comment_' + this.id, this.highLightCurrentCommentByMouseEvent)
            EventDispatcher.destroy('cancel_highlight_comment_' + this.id, this.cancelHighLightCurrentCommentByMouseEvent)
        }

        if (this.formReplyIsActive) {
            EventDispatcher.destroy('close_opened_comments', this.closeReply);
        }
    }
};
</script>
