<template>
    <div class="bg-white mt-8 py-8">
        <div class="layout-center-column">
            <h2 class="mb-8 header--2 leading-7">{{ $t('Comments') }}</h2>
            <comment-form class="my-4"
                          :post-id="postId"
            ></comment-form>
            <div v-if="items.length > 0"
                 v-for="firstItem in items" :key="firstItem.id">
                <comment-list-item v-bind="firstItem"
                                   :id="firstItem.id"
                                   :post-id="postId"
                                   :ref="'comment_' + firstItem.id"></comment-list-item>
            </div>
            <comment-form v-if="showSecondCommentForm"
                          class="my-4"
                          :post-id="postId"
            ></comment-form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from "noty";
import CommentListItem from "./ListItem";
import CommentForm from "./Form";

//TODO print the default text when comments are empty

export default {
    name: 'comments',

    components: {
        CommentListItem,
        CommentForm,
    },

    props: {
        postId: {
            type: Number,
            required: true,
        },
        countComments: {
            type: Number,
            default: 0
        }
    },

    data() {
        return {
            items: [],

            showSecondCommentForm: false,
        }
    },

    created() {
        let localThis = this;
        axios.get('/api/v1/posts/' + this.postId + '/comments')
            .then(response => {
                if (response.status === 200 && Array.isArray(response.data)) {
                    localThis.items = response.data;
                    if (localThis.countComments > 2) {
                        localThis.showSecondCommentForm = true;
                    }
                } else {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 1000
                    }).show();
                }
            })
            .catch(error => {
                new Noty({
                    text: localThis.$t('Something went wrong. Please try again later'),
                    type: 'error',
                    timeout: 1000
                }).show();
            });
    },

    methods: {
        /**
         * // TODO rewrite this method and the method of th the child component(ListItem). These methods have almost the same code.
         * @param {Number} commentId
         */
        goToComment(commentId) {
            let element = null;

            if (
                typeof this.$refs['comment_' + commentId] !== 'undefined'
                && typeof this.$refs['comment_' + commentId][0] !== 'undefined'
            ) {
                element = this.$refs['comment_' + commentId][0];
            }

            if (element !== null) {
                let windowHeight = window.innerHeight;

                window.scrollTo({
                    top: element.$el.offsetTop - Math.floor(windowHeight / 4),
                    behavior: 'smooth',
                })

                element.highLightCurrentCommentWithoutMouseEvent();

                setTimeout(function () {
                    element.cancelHighLightCurrentCommentWithoutMouseEvent();
                }, 2000);
            }
        },
    },
};
</script>
