/** Profile feed */
.user_feed .head_notifies--item {
    padding: 20px 30px;
    font-size: 14px;
}

.user_feed .head_notifies--picture {
    width: 50px;
    height: 50px;
}

.user_feed .head_notifies--icon {
    top: 47px;
    left: 70px;
}

.user_feed .head_notifies--content {
    margin-left: 70px;
    word-wrap: break-word;
}

.user_feed .head_notifies--heading {
    margin-bottom: 8px;
    line-height: 1.5em;
    color: #6e758a;
}

.user_feed .head_notifies--caption {
    white-space: normal;
    overflow: visible;
    line-height: 1.6em;
    color: inherit;
}

.user_feed .head_notifies--right_photo {
    max-width: 150px;
    max-height: 150px;
}

.user_feed .head_notifies--date {
    display: inline-block;
    margin-left: 30px;
    color: #aaaebb;
    font-size: 0.8em;
    letter-spacing: 0.2px;
}

.rejected_cover_reasons {
    margin-top: 15px;
}

.rejected_cover_reasons ul {
    margin: 5px 0;
}

.rejected_cover_reasons li {
    list-style: inside;
}

.nofifies_moderation_message {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #d6dfec;
    border-radius: 3px;
    font-size: .9em;
    color: #7d8fab;
}

.article-preview {
    display: block;
    margin: 15px 0;
    background: #fff;
    border: 1px solid #d6dfec;
    border-radius: 3px;
    max-width: 350px;
    padding: 25px 25px 20px;
    font-size: 14px;
}

.article-preview--cover {
    height: 160px;
    margin: -26px -26px 22px;
    border-radius: 3px 3px 0 0;
    background-size: cover;
    background-color: #eff2fb;
}

.article-preview--title {
    margin-bottom: 1em;
    line-height: 1.5em;
    font-weight: bold;
}

.article-preview--title:hover {
    text-decoration: underline;
}

.article-preview--description {
    margin-bottom: 1.3em;
    line-height: 1.57em;
    letter-spacing: .2px;
    font-size: .94em;
}

.article-preview--logo {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 13px;
    vertical-align: middle;
}

.article-preview--author {
}

.article-preview--date {
    float: right;
    color: #a4aebe;
    font-size: .9em;
}

.article-preview--aside-image {
    border-radius: 3px;
    float: left;
    margin-right: 25px;
    width: 45px;
}

.article-preview--aside-image + .r_col .article-preview--title {
    margin-top: -3px;
    margin-bottom: .3em;
}

.notifies-gift-message {
    background: #f9f3ee;
    border: 1px solid #f1e7e4;
    border-radius: 3px;
    margin: 20px 0;
    padding: 15px 20px;
    text-align: center;
    color: #a77e59;
}



/*** Widget section in project-settings   **************************************** */

.w_holder {
    background: #fafbfd;
    color: #324460;
}

.w_holder .item {
    border-bottom: 2px solid #c9d5e3;
    padding: 40px 30px;
}

.w_holder .item:last-child {
    border-bottom: 0;
}

.w_holder .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.w_holder .desc {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 20px;
    max-width: 600px;
}

.w_holder .master {
    padding: 12px 20px;
    margin-bottom: 30px;
}

.w_frame_wrapper {
    max-width: 570px;
}

.w_type {
    color: #456081;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #edeef1;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.w_type:hover {
    background: #f8f9fc;
    color: #8a9fc5;
}

.w_types .w_type:nth-of-type(2) {
    border-right: 0;
    border-left: 0;
}

.get_code > p {
    margin-bottom: 20px;
    font-size: 15px;
}

.get_code_ta {
    height: 270px;
    padding: 15px;
    font-size: 12px;
    background: #f9fafc;
    color: #557096;
    border: 0;
    box-shadow: none;
    font-family: 'monaco', 'consolas', 'courier';
}

.w_tech_info {
    border: 1px solid #edeef1;
    padding: 20px;
    border-radius: 3px;
    margin-left: 40px;
    width: 150px;
    color: #4d5f76;
    cursor: pointer;
    text-decoration: none;
}

.w_tech_info:hover {
    border-color: #aec3ea;
    color: #637bb7;
}

.w_tech_info > i {
    display: inline-block;
    font-size: 26px;
    margin-right: 20px;
    vertical-align: top;
    transition: transform 150ms ease-in;
}

.w_tech_info:hover > i {
    transform: rotate(45deg);
}

/*** end of *  Widget section in project-settings   **************************************** */


/**** Profile telegram page *****/

.profile_settings_landing {
    background: #f0f7fc;
    padding: 50px 20px;
    color: #385570;
    text-align: center;
}

.profile_settings_landing .telegram {
    display: inline-block;
    width: 65px;
    height: 65px;
    background: url('../img/telegram_logo.png') no-repeat;
    margin-bottom: 15px;
}

.profile_settings_landing .psl_title {
    display: inline-block;
    color: inherit;
    font-size: 26px;
    margin-bottom: 15px;
    text-decoration: none;
}

.profile_settings_landing .psl_title:hover {
    color: #4984bb;
}

.profile_settings_landing .psl_desc {
    font-size: 15px;
    line-height: 1.5em;
    max-width: 460px;
    margin: 0 auto;
}

.profile_settings_landing_green {
    padding: 50px 20px;
    text-align: center;
}

.profile_settings_landing_green .offer {
    font-size: 15px;
    color: #2aa68a;
}

.profile_settings_landing_green .toggler {
    display: inline-block;
    position: relative;
    border-radius: 30px;
    background: #d2eee8;
    /*width: 220px;*/
    margin: 40px 0;
}

.profile_settings_landing_green .toggler:before {
    content: '\e806';
    display: inline-block;
    position: absolute;
    left: 22px;
    top: 17px;
    font-family: 'spark_icons';
    color: #5cdcb9;
    font-size: 18px;
    z-index: 1;
}

.profile_settings_landing_green .toggler_button {
    position: relative;
    z-index: 2;
    margin-right: 50px;
    display: inline-block;
    border-radius: 30px;
    padding: 17px 25px;
    background: #1ccfa7;
    color: #fff;
    font-size: 16px;
    transition: all 250ms ease;
    cursor: pointer;
    min-width: 90px;
    text-decoration: none;
}

.profile_settings_landing_green .toggler_button:hover {
    background: #12bc96;
    margin: 0 40px 0 10px;
}

.profile_settings_landing_green .toggler_button .on {
    display: none;
}

.profile_settings_landing_green .toggled .on {
    display: inline;
}

.profile_settings_landing_green .toggled .off {
    display: none;
}

.profile_settings_landing_green .toggled {
    background: #cbfff3;
}

.profile_settings_landing_green .toggled .toggler_button {
    margin: 0 0 0 50px;
    background: #0cdfb0;
}

.profile_settings_landing_green .disclaimer {
    color: #9f9f9f;
}




/** Project Onboarding */

.project_head .edit_logo.loading {
    position: relative;
}

.project_head .edit_logo.loading:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url('../img/loading_pattern.gif');
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
}

.content_editable_icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    vertical-align: bottom;
    margin-right: 6px;
    background: #263455;
    color: #697bb4;
    font-size: 14px;
}

.content_editable_icon i {
    line-height: 26px;
}

.edit_description {
    position: relative;
    cursor: pointer;
    transition: all 200ms ease;
}

.edit_description:hover,
.edit_description:hover .content_editable_icon {
    color: #a4bef3;
}

.edit_description .line {
    display: none;
}

.edit_description .line input {
    border: 0;
    background: transparent;
    color: inherit;
    font-size: inherit;
    text-align: center;
}

.edit_description.focused {
    display: inline-block;
    border-radius: 3px;
    background: #0e182b;
    min-height: 25px;
    min-width: 550px;
}

.edit_description.focused .line {
    display: block;
}

.edit_description.focused .content_editable_icon,
.edit_description.focused .holder {
    display: none;
}

.edit_description .limited:after {
    color: #535e80;
}

.edit_description.loading:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url('../img/loading_pattern.gif');
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
}

.inline_redactor .redactor-toolbar {
    background: #fff !important;
    border: 1px solid #eff1f5;
    border-bottom: 0;
    margin-bottom: 0 !important;
}

.inline_redactor .redactor-toolbar li a {
    padding: 13px;
}

.inline_redactor_saver .button {
    padding: 15px 30px;
    font-size: 15px;
}

.onboarding_helper_wrap {
    display: inline-block;
    position: relative;
}

.onboarding_helper {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 2;
    display: block;
    width: 336px;
    padding: 30px;
    border-radius: 3px;
    background: #030c1c;
    text-align: left;
    color: #60719d;
    font-size: 15px;
    will-change: transform, opacity;
    transition: all 300ms ease-out;
    opacity: 0;
    transform: translateY(70px) rotate(8deg);
    white-space: normal;
}

.onboarding_helper.upload_logo {
    left: 120%;
    transform: translateY(-20px) translateX(50px) rotate(-8deg);
}

.onboarding_helper.description {
    top: 110%;
    left: 0;
}

.onboarding_helper.pull_right {
    right: 0;
    left: auto;
}

.onboarding_helper.fulldesc {
    right: 70px;
    top: 130%;
}

/** to show helper, add class 'show' */
.onboarding_helper.show {
    opacity: 1;
    transform: none;
}

.onboarding_helper .title {
    color: #85a3d9;
    margin-bottom: 18px;
}

.onboarding_helper.pull_right .title {
    text-align: right;
}

.onboarding_helper .title i {
    margin-right: 12px;
}

.onboarding_helper.pull_right .title i {
    margin-right: 0;
    margin-left: 12px;
}

.onboarding_helper.up .title i:before {
    content: '\e815';
}

.onboarding_helper .text {
    line-height: 1.5em;
}

.onboarding_helper.hideToBottom {
    transform: translateY(60px);
    opacity: 0;
}





/** Promotion offer on project settings page */
.project_promo_offer {
    background: #eef3fb;
    padding: 45px 30px;
    text-align: center;
    font-size: 14px;
    color: #626d86;
}

.project_promo_offer h1 {
    font-size: 1.2em;
}

.project_promo_offer .desc {
    line-height: 1.5em;
    max-width: 570px;
    margin: 20px auto;
}

.project_promo_sample {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 30%;
    box-sizing: border-box;
}

.project_promo_sample a {
    text-decoration: none;
    color: inherit;
}

.project_promo_sample a:hover {
    color: #5888d6;
}

.project_promo_sample img {
    margin-bottom: .6em;
}

.project_promo_sample .preview_link {
    display: inline-block;
    margin-top: .6em;
    border-bottom: 1px solid #d3dfed;
    padding-bottom: 3px;
    text-decoration: none;
    color: #97a8c5;
}

.project_promo_sample .preview_link:hover {
    border-bottom-color: #94c1f4;
}

.project_promo_cta {
    display: inline-block;
    margin-top: 2em;
    padding: 13px 26px;
    border-radius: 40px;
    background: #25d08d;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
}

.project_promo_cta i {
    margin: 0 6px 0 -5px;
}

.project_promo_cta:hover {
    background: #16c581;
}





/** Promotions list table */
.promotions_table {
    width: 100%;
    color: #b1b3b8;
}

.promotions_table tr {
    border-bottom: 1px solid #f5f7f8;
    cursor: pointer;
}

.promotions_table tr:hover {
    background: #f1f5fc;
}

.promotions_table td {
    padding: 15px 30px;
}

.promotions_table .promo_name {
    color: #858999;
}

.promotions_table time {
    display: inline-block;
    margin-top: 5px;
    font-size: 0.85em;
}

.promotions_table .stats .count {
    display: block;
    font-size: 1.1em;
}

.promotions_table .status {
    margin-bottom: .2em;
}

.promotions_table .active_row {
    background: #effff8;
}

.promotions_table .active {
    color: #1ecc88;
}

.promotions_table .rejected {
    color: #de8a8a;
}

/**
* First-comment landing
*/
.fc_land {
    background: #f5f8ff url('../img/fc_land_bg.png') no-repeat right top;
    padding: 30px 50px 20px;
    font-size: 15px;
    color: #3c5371;
}

.fc_land .title {
    margin-bottom: .5em;
    font-size: 1.22em;
}

.fc_land .text {
    margin-bottom: 1.7em;
}

.fc_land li {
    margin-bottom: 1em;
}

.fc_land li a {
    border-bottom: 1px solid #bdd8f9;
    padding-bottom: 1px;
    text-decoration: none;
    color: #2d8cc7;
    font-size: 1.02em;
}

.fc_land li a:hover {
    color: #d07676;
    border-bottom-color: #e4d0d0;
}

.fc_land li i {
    margin-right: 5px;
}



/**
* Right col form
* uses for fill user experience
*/
.r-col-form {
    position: relative;
    background: #fff;
    color: #6e758a;
    font-size: 14px;
}

.r-col-form .r-col-form--input,
.r-col-form--date,
.r-col-form--footer {
    box-sizing: border-box;
    padding: 18px 20px;
    border: 0;
    border-top: 1px solid #f2f2f4;
    box-shadow: none;
}

.r-col-form--select {
    float: right;
    background: #fff;
    border: 0;
    color: #262d43;
    font-size: 1.1em;
}

.r-col-form--footer {
    background: #fbfbfd;
}

.r-col-form .r-col-form--input {
    font-size: 14px;
}

.r-col-form--input::-moz-placeholder {
    font-size: 14px;
}

.r-col-form--input::-webkit-input-placeholder {
    font-size: 14px;
}

.r-col-form .r-col-form--input-with-logo {
    padding-right: 100px;
}

.r-col-form--linked-startup-logo {
    position: absolute;
    top: 16px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #fbfbfd;
    border-radius: 20px;
}

/**
* New post form
*/
.post-form {
    min-height: 500px;
    font-size: 15px;
}

.post-form__header {
    text-align: center;
    padding-bottom: 30px;
    font-size: 15px;
}

.post-form__header .simple-selector {
    z-index: 999;
}

.post-form__header,
.post-form__body {
    max-width: 650px;
    margin: 0 auto;
}

.post-form__body {
    padding-bottom: 50px;
}

.post-form .simple_selector,
.post-form__header_title {
    display: inline-block;
    vertical-align: middle;
}

.post-form__input_title,
.post-form__input_text {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    box-shadow: none;
    padding: 0;
    outline: none;
}

.post-form__input_title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.006em;
}

.post-form__input_subtitle {
    border-top: 1px solid #e3e9f2;
    padding: 15px 0;
    margin-bottom: 15px;
}

.post-form__input_subtitle.missed {
    padding: 15px;
}

.post-form__input_tags {
    padding: 20px 0;
}

.post-form__section {
    padding: 20px 0;
    border-top: 1px solid #e3e9f2;
    color: #9194a1;
}

.post-form__section_empty {
    border-top: 0;
}

.post-form__section_empty .post-form__author {
    float: none;
}

.post-form__save_draft,
.post-form__draft_saved a {
    margin-left: 20px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ccdcf1;
    color: #5d779c;
    cursor: pointer;
}

.post-form__save_draft:hover,
.post-form__draft_saved a:hover {
    color: #3a7edc;
    border-color: #94c0f9;
}

.post-form__label {
    margin-right: 20px;
}

.post-form__upload_cover {
    color: #3d75cd;
    cursor: pointer;
}

.post-form__upload_cover:hover {
    color: #da6161;
}

.post-form__draft_saved {
    margin-top: .4em;
}

.post-form__submit {
    vertical-align: middle;
}

.post-form input::-moz-placeholder,
.post-form textarea::-moz-placeholder {
    color: #9194a1 !important;
}

.post-form input::-webkit-input-placeholder,
.post-form textarea::-webkit-input-placeholder {
    color: #9194a1 !important;
}

.post-form .redactor-toolbar {
    font-size: 17px !important;
    border-radius: 3px;
}

.post-form .redactor-editor {
    border: 0;
    padding: 20px 0;
}

.post-form .redactor-placeholder:after {
    left: 0;
}

.post-form__cover-preview {
    height: 150px;
    width: 320px;
    border-radius: 2px;
    margin-right: 90px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transiton: all 200ms ease-out;
}

.post-form__cover-preview img {
    max-width: 100%;
}

.post-form__cover-preview.loading {
    background: url('../libs/jcrop/Jcrop.gif');
    opacity: 0.06;
    display: block !important;
}

.post-form__cover-preview.loading img {
    display: none;
}

.post-form__cover-preview.empty {
    display: none;
}

.post-form__cover-preview .cross,
.black_cross_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.8);
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

.post-form__cover-preview .cross::before,
.black_cross_icon::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 150ms ease-out;
    content: '';
    background: url('../img/white_cross_10.png') no-repeat center center;
}

.post-form__cover-preview .cross:hover::before,
.black_cross_icon:hover::before {
    transform: rotate(-90deg);
}










/**
* End
*/




/****** mobile viewport *********/

@media all and (max-width: 980px) {
    .user_feed .head_notifies--item {
        padding: 15px;
    }

    .user_feed .head_notifies--picture {
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    .user_feed .head_notifies--icon {
        top: 28px;
        left: 37px;
    }

    .user_feed .head_notifies--content {
        margin-left: 0;
    }

    .user_feed .head_notifies--right_photo {
        max-width: 70px;
    }

    .w_type {
        display: block;
        float: none;
        width: auto !important;
        text-align: left;
        list-style: outside circle;
        border: 0;
        font-size: 15px;
        padding: 0;
        margin-top: 5px;
    }

    .w_holder .title {
        font-size: 19px;
    }

    .w_holder .item {
        padding: 30px 20px;
    }

    .onboarding_helper {
        width: auto;
        font-size: 11px;
        padding: 15px;
    }

    .onboarding_helper .title {
        margin-bottom: 10px;
    }

    .edit_description.focused {
        min-width: auto;
    }

    .onboarding_helper.upload_logo {
        left: -50%;
        top: 120%;
        min-width: 150px;
    }

    .onboarding_helper.upload_logo .title i:before {
        content: '\e802';
    }

    .onboarding_helper.pull_right .title {
        text-align: left;
    }

    .onboarding_helper.fulldesc {
        right: 0;
    }

    .inline_redactor .redactor-toolbar li a {
        padding: 7px;
    }

    .inline_redactor .redactor-toolbar {
        padding-left: 5px !important;
    }

    /** Promo offer */
    .project_promo_offer {
        padding: 15px;
        font-size: 13px;
    }

    .project_promo_offer .desc {
        font-size: .9em;
    }

    .project_promo_sample {
        display: block;
        text-align: left;
        padding: 10px 0;
        width: auto;
    }

    .project_promo_sample img {
        width: 60px;
        float: left;
    }

    .project_promo_sample .title,
    .project_promo_sample .preview_link {
        display: block;
        padding-left: 75px;
    }

    .project_promo_sample .preview_link {
        border: 0;
        margin-top: .3em;
    }

    .project_promo_cta {
        font-size: 1em;
        padding: 10px 20px;
    }

    .promotions_table tr {
        display: block;
        padding: 15px;
    }

    .promotions_table td {
        padding: 0;
        display: block;
    }

    .promotions_table .stats {
        display: inline-block;
        padding: 15px 0;
        width: 32%;
    }

    .fc_land {
        padding: 15px;
        background-image: none;
    }

    /**
    * Post form
    */
    .post-form {
        font-size: 13px;
    }

    .post-form__header {
        padding: 15px;
        font-size: 11px;
    }

    .post-form__body {
        padding: 0 15px;
    }

    .post-form .redactor-toolbar {
        font-size: 14px !important;
    }

    .post-form__input_title {
        font-size: 17px;
    }

    .post-form__author {
        float: none;
        margin-bottom: 25px;
    }
}
/****** end of mobile viewport *********/

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .profile_settings_landing .telegram {
        background: url('../img/telegram_logo2x.png') no-repeat;
        background-size: 65px auto;
    }
}