<template>
    <div class="flex items-center">
        <div class="relative py-2" v-click-outside="setInactive">
            <div class="flex items-center">
                <button
                    class="block w-8 w-8 pl-2 py-2 hover:text-black"
                    v-bind:class="{'text-black': isActive}"
                    @click="isActive = !isActive">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 515.555 515.555">
                        <defs/>
                        <path
                            d="M496.679 212.208c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138 65.971-25.167 91.138 0M303.347 212.208c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138 65.971-25.167 91.138 0M110.014 212.208c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138 65.971-25.167 91.138 0"/>
                    </svg>
                </button>
            </div>
            <div class="z-10 absolute -right-4 mt-1 py-2 min-w-32 bg-white rounded-lg shadow-all-side-md"
                 v-if="isActive">
                <button v-if="!postIsDraft" @click="changeBookmarkStatus"
                        class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{
                        (postInBookmarks === true) ? $t('Remove from bookmarks') : $t('Add to bookmarks')
                    }}
                </button>

                <router-link v-if="currentUserIsAuthor" :to="'/writing/' + postId"
                             class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{ $t('Edit') }}
                </router-link>
                <button v-if="currentUserIsAuthor && !postIsDraft" @click="unpublishPost"
                        class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{
                        $t('Unpublish')
                    }}
                </button>
                <button v-if="currentUserIsAuthor && postIsDraft" @click="publishPost"
                        class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{
                        $t('Publish')
                    }}
                </button>
                <button v-if="currentUserIsAuthor" @click="deletePost"
                        class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{
                        $t('Delete')
                    }}
                </button>
                <button v-if="!postIsDraft && showAbilityAddReport"
                        class="block w-full px-2 py-2 text-left text-gray-900 hover:bg-gray-300">{{ $t('Make report') }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import ClickOutside from 'vue-click-outside';
import Noty from 'noty'; // TODO fix on mobiles and colors

export default {
    name: 'button-more-with-actions-to-post',

    props: {
        postId: {
            type: Number,
            required: true,
        },
        authorId: {
            type: Number,
            default: 0,
        },
        isDraft: {
            type: Boolean,
            default: false,
        },
        isSinglePage: {
            type: Boolean,
            default: false,
        }
    },

    data() {
        return {
            isActive: false,
            postInBookmarks: false,
            showAbilityAddReport: false,
            currentUserIsAuthor: false,
            postIsDraft: this.isDraft,
        };
    },

    created() {
        if (this.$store.state.authenticatedUser.isAuthenticated) {
            this.showAbilityAddReport = true;

            if (this.authorId === this.$store.state.authenticatedUser.commonData.id) {
                this.currentUserIsAuthor = true;

                // Don't give the ability to make a report to own post
                this.showAbilityAddReport = false;
            }

            this.postInBookmarks = this.$store.getters["authenticatedUser/getPostBookmarkStatusByPostId"](this.postId);
        }

        let localThis = this;
        this.$store.subscribe(mutation => {
                if (mutation.type === 'authenticatedUser/ADD_POST_BOOKMARKS_IN_STATE') {
                    /*
                        We make the ability to add a report visible here because we show this block only when a user is
                        authenticated. If we see what was called the mutation to add new bookmarks that means
                        the user is authenticated.
                     */
                    localThis.showAbilityAddReport = true;
                    if (localThis.authorId === localThis.$store.state.authenticatedUser.commonData.id) {
                        localThis.currentUserIsAuthor = true;

                        // Don't give the ability to make a report to own post
                        localThis.showAbilityAddReport = false;
                    }

                    if (mutation.payload.indexOf(localThis.postId) !== -1) {
                        localThis.postInBookmarks = true;
                    }
                } else if (mutation.type === 'authenticatedUser/SET_USER_AS_NOT_AUTHENTICATED') {
                    localThis.showAbilityAddReport = false;
                    localThis.postInBookmarks = false;
                    localThis.currentUserIsAuthor = false;
                }
            }
        );
    },

    methods: {
        setInactive() {
            this.isActive = false;
        },

        /**
         * Adds/Removes the post to/from bookmarks or shows login popup if the user is not authenticated
         */
        changeBookmarkStatus() {
            if (this.$store.state.authenticatedUser.isAuthenticated === false) {
                EventDispatcher.fire('showPopup', 'login');
                return;
            }

            if (this.postInBookmarks) {
                this.removeFromBookmarks(this.postId);
            } else {
                this.addToBookmarks(this.postId);
            }
        },

        publishPost() {
            let localThis = this;

            axios.patch('/api/v1/authenticated/posts/' + this.postId + '/publish')
                .then(response => {
                    if (response.status === 200 && 'slug' in response.data) {
                        new Noty({
                            text: localThis.$t('Post is published'),
                            type: 'success',
                            timeout: 1000
                        }).show();

                        setTimeout(function () {
                            localThis.$router.push('/' + response.data.slug);
                        }, 500);
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        },

        unpublishPost() {
            // TODO make an alert or something with the question 'Are you sure?'
            let localThis = this;

            axios.patch('/api/v1/authenticated/posts/' + this.postId + '/unpublish')
                .then(response => {
                    if (response.status === 204) {
                        localThis.postIsDraft = true;

                        if (localThis.isSinglePage) {
                            localThis.$router.push('/writing/preview/' + localThis.postId);
                        } else {
                            EventDispatcher.fire('postIsUnpublished', localThis.postId);
                        }

                        new Noty({
                            text: localThis.$t('Post is unpublished'),
                            type: 'info',
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        },

        deletePost() {
            // TODO make an alert or something with the question 'Are you sure?'
            let localThis = this;

            axios.delete('/api/v1/authenticated/posts/' + this.postId)
                .then(response => {
                    if (response.status === 204) {
                        if (localThis.isSinglePage) {
                            localThis.$router.push({name: 'mainPage'});
                        } else {
                            EventDispatcher.fire('postIsDeleted', localThis.postId);
                        }

                        new Noty({
                            text: localThis.$t('Post is deleted'),
                            type: 'info',
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                });
        },

        addToBookmarks(id) {
            let localThis = this;

            // TODO replace to the store
            return axios.post('/api/v1/authenticated/posts/bookmarks/' + id)
                .then(response => {
                    if (response.status === 201) {
                        localThis.$store.dispatch('authenticatedUser/addPostToBookmarksInState', id);
                        localThis.postInBookmarks = true;

                        new Noty({
                            text: localThis.$t('Post added to bookmarks.'),
                            type: 'success',
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                })
        },

        removeFromBookmarks(id) {
            let localThis = this;

            // TODO replace to the store
            return axios.delete('/api/v1/authenticated/posts/bookmarks/' + id)
                .then(response => {
                    if (response.status === 204) {
                        localThis.$store.dispatch('authenticatedUser/removePostFromBookmarksInState', id);
                        localThis.postInBookmarks = false;

                        new Noty({
                            text: localThis.$t('Post removed from bookmarks.'),
                            type: 'info',
                            timeout: 3000
                        }).show();
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                })
        },
    },

    directives: {
        ClickOutside
    }
};
</script>
