<template>
    <div :class="['bg-white', { 'mt-4' : !withoutMarginTop }]">
        <post-header v-if="author !== null"
                     :author-id="author.id"
                     :author-avatar="author.avatar"
                     :author-first-name="author.firstName"
                     :author-last-name="author.lastName"
                     :post-id="id"
                     :post-posted-at="postedAt ? postedAt : (updateAt ? updateAt : '')"
                     :post-is-draft="isDraft"
                     class="px-6 flex items-center justify-between text-xs text-gray-600"
        ></post-header>
        <router-link :to="(isDraft) ? '/writing/preview/' + id : '/' + slug">
            <div class="pb-4 px-6">
                <div class="mb-2 font-bold text-2xl leading-7">{{ title }}</div>
                <div>{{ description }}</div>
            </div>
            <img :src="coverImage" alt="">
        </router-link>
        <div class="py-2 px-6 flex items-center justify-between text-gray-700">
            <discuss
                :is-single-page="false"
                :post-id="id"
                :post-slug="slug"
                :post-count-comments="countComments"
                :post-is-draft="isDraft"></discuss>
            <vote :postId="id" :currentRating="currentRating" :post-is-draft="isDraft"></vote>
        </div>
    </div>
</template>

<script>
import PostHeader from "./PostHeader";
import ButtonMore from './ButtonMoreWithActionsToPost';
import Vote from './Vote';
import Discuss from "./Discuss";

export default {
    name: 'post-description',

    components: {
        PostHeader,
        ButtonMore,
        Vote,
        Discuss,
    },

    props: {
        id: {
            type: Number,
            required: true,
        },
        title: String,
        slug: String,
        description: String,
        coverImage: String,
        postedAt: String,
        updateAt: String,
        countPositiveVotes: {
            type: Number,
            default: 0,
        },
        countNegativeVotes: {
            type: Number,
            default: 0,
        },
        countView: {
            type: Number,
            default: 0,
        },
        countComments: {
            type: Number,
            default: 0,
        },
        authorId: {
            type: Number,
            required: true,
        },

        withoutMarginTop: {
            type: Boolean,
            default: false
        },

        isDraft: {
            type: Boolean,
            default: false
        },
    },

    data() {
        return {
            author: null,
        };
    },

    created() {
        let localThis = this;
        this.$store.dispatch('users/getUserById', this.authorId).then(user => {
            localThis.author = user;
        });
    },

    computed: {
        currentRating() {
            return this.countPositiveVotes - this.countNegativeVotes;
        },
    },
};
</script>
