<template>
    <div>
        <post-search-description v-if="isSearchPage"
                                 v-for="(post, index) in posts" :key="post.id"
                                 v-bind="post"
                                 :slug="post.slug ? post.slug : ''"
                                 :without-margin-top="index === 0 && withoutMarginTopForFirstItem"></post-search-description>

        <post-description v-if="isSearchPage === false"
                          v-for="(post, index) in posts" :key="post.id"
                          v-bind="post"
                          :slug="post.slug ? post.slug : ''"
                          :without-margin-top="index === 0 && withoutMarginTopForFirstItem"></post-description>

        <button
            id="showMorePosts"
            v-if="!isLastPage"
            @click="showMorePosts"
            class="flex w-full items-center my-4 bg-white px-6 py-6 text-gray-500 hover:bg-indigo-800 hover:text-white">
            <svg class="fill-current w-3 h-3 mr-3" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 213.333 213.333">
                <path d="M0 53.333L106.667 160 213.333 53.333z"/>
            </svg>
            {{ $t('Show more') }}
        </button>
    </div>
</template>

<script>
import PostDescription from './Description';
import PostSearchDescription from './SearchDescription';
import axios from "axios";
import Noty from "noty";

export default {
    name: 'list-posts',

    components: {
        PostDescription,
        PostSearchDescription,
    },

    props: {
        linkToPostsData: {
            type: String,
            required: true
        },
        queryParams: {
            type: Object,
            default: () => {
                return {};
            }
        },
        withoutMarginTopForFirstItem: {
            type: Boolean,
            default: false
        },
        isListWithDraftPosts: {
            type: Boolean,
            default: false
        },
        isSearchPage: {
            type: Boolean,
            default: false
        },
        propParameterNameForCorrectOffset: {
            type: String,
            default: 'id'
        }
    },

    data() {
        return {
            posts: [],
            lastUploadedPostIds: [], // used to load additional information, such as whether the user voted to post, etc.

            parameterNameForCorrectOffset: this.propParameterNameForCorrectOffset.charAt(0).toUpperCase() + this.propParameterNameForCorrectOffset.slice(1),
            correctOffsetParameterValueOfFirstPost: null, // The parameter value of the first post. This necessary for correct offset in DB.

            currentPage: 1,
            isLastPage: false,

            limitPostsPerPage: 10,
        };
    },

    created() {
        this.initPage();

        let localThis = this;

        if (this.isRegularListOfPosts) {
            this.$store.subscribe(mutation => {
                if (mutation.type === 'authenticatedUser/SET_USER_AS_AUTHENTICATED') {
                    const postIds = this.posts.map(post => post.id);

                    localThis.$store.dispatch('authenticatedUser/loadVotesByPostIdsInState', postIds);
                    localThis.$store.dispatch('authenticatedUser/loadPostBookmarksByPostIdsInState', postIds);
                }
            });

            EventDispatcher.listen('postIsUnpublished', function (postId) {
                if (!localThis.isListWithDraftPosts) {
                    localThis.deletePostFromList(postId);
                }
            });

            EventDispatcher.listen('postIsDeleted', this.deletePostFromList);
        }
    },

    methods: {
        async initPage() {
            await this.showMorePosts();

            if (this.posts.length > 0) {
                this.correctOffsetParameterValueOfFirstPost = this.posts[0][this.propParameterNameForCorrectOffset]
                    ? this.posts[0][this.propParameterNameForCorrectOffset] : null;
            }
        },

        async showMorePosts() {
            let windowYOffset = window.pageYOffset;

            await this.loadNewPostsWithAllData();

            // This is necessary to avoid "scrolling" to the showMore button.
            window.scrollTo(0, windowYOffset);

            let countLastUploadedPosts = this.lastUploadedPostIds.length;
            if (countLastUploadedPosts > 0) {
                this.currentPage += 1;
            }

            if (countLastUploadedPosts < this.limitPostsPerPage) {
                this.isLastPage = true;
            }
        },

        /**
         *
         */
        async loadNewPostsWithAllData() {
            // Define request parameters
            let queryParams = this.queryParams;

            queryParams.page = this.currentPage;
            if (this.correctOffsetParameterValueOfFirstPost !== null) {
                queryParams['firstPost' + this.parameterNameForCorrectOffset] = this.correctOffsetParameterValueOfFirstPost;
            }

            let posts = await this.loadPosts(queryParams);

            // For load common information about posts authors in State
            let newUserIds = [];

            this.lastUploadedPostIds = [];
            for (let i = 0; i < posts.length; i++) {
                this.lastUploadedPostIds[i] = posts[i].id;

                // Looking for users who were not loaded in the State
                if (this.isRegularListOfPosts && !(posts[i].authorId in newUserIds)) {
                    await this.$store.dispatch('users/userIsUploadedInState', posts[i].authorId)
                        .then(userIsUploadedInState => {
                            if (userIsUploadedInState === false) {
                                newUserIds.push(posts[i].authorId);
                            }
                        });
                }
            }

            if (newUserIds.length) {
                await this.$store.dispatch('users/loadUsersByIdsInState', newUserIds);
            }

            this.posts = this.posts.concat(posts);

            // Get votes and bookmark statuses for the new posts if the current user is authenticated
            // and the current list of posts is regular
            if (this.isRegularListOfPosts && this.$store.state.authenticatedUser.isAuthenticated) {
                this.$store.dispatch('authenticatedUser/loadVotesByPostIdsInState', this.lastUploadedPostIds);
                this.$store.dispatch('authenticatedUser/loadPostBookmarksByPostIdsInState', this.lastUploadedPostIds);
            }
        },

        /**
         * Loads posts from backend
         *
         * @param {object} queryParams
         */
        async loadPosts(queryParams) {
            let localThis = this,
                posts = [];

            await axios.get(this.linkToPostsData,
                {
                    params: queryParams
                })
                .then(response => {
                    if (response.status === 200 && Array.isArray(response.data)) {
                        posts = response.data;
                    } else {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 1000
                        }).show();
                    }
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong. Please try again later'),
                        type: 'error',
                        timeout: 1000
                    }).show();
                });

            return Promise.resolve(posts);
        },

        /**
         * Removes the post from the 'posts' array
         *
         * @param {number} postId Post ID
         */
        deletePostFromList(postId) {
            let countPosts = this.posts.length;

            for (let i = 0; i < countPosts; i += 1) {
                if (this.posts[i]['id'] === postId) {
                    if (postId === this.correctOffsetParameterValueOfFirstPost) {
                        if ((i + 1) < countPosts) {
                            this.correctOffsetParameterValueOfFirstPost = this.posts[i + 1][this.parameterNameForCorrectOffset] ?? null;
                        } else {
                            this.correctOffsetParameterValueOfFirstPost = null;
                        }
                    }

                    this.posts.splice(i, 1);

                    break;
                }
            }
        },
    },

    computed: {
        isRegularListOfPosts() {
            return this.isSearchPage === false && this.isListWithDraftPosts === false;
        }
    },

    watch: {
        queryParams(newQ, oldQ) {
            this.posts = [];
            this.lastUploadedPostIds = [];
            this.correctOffsetParameterValueOfFirstPost = null;
            this.currentPage = 1;
            this.isLastPage = false;

            this.initPage();
        }
    }
};
</script>
