<template>
    <div class="bg-white py-4 post">
        <post-header :author-id="author.id"
                     :author-avatar="author.avatar"
                     :author-first-name="author.firstName"
                     :author-last-name="author.lastName"
                     :post-id="postData.id"
                     :post-posted-at="postData.postedAt ? postData.postedAt : (postData.updatedAt ? postData.updatedAt : '')"
                     :post-is-draft="postIsDraft"
                     :is-single-page="isSinglePage"
                     class="layout-center-column flex items-center justify-between text-gray-600"
        ></post-header>
        <div class="layout-center-column">
            <h1 class="header--1 leading-tight">{{ postData.title }}</h1>
        </div>
        <div v-if="'description' in postData && postData.description != ''"
             class="layout-center-column">{{ postData.description }}
        </div>
        <div class="layout-center-column">
            <div class="flex items-center justify-between text-gray-600">
                <discuss
                    :is-single-page="isSinglePage"
                    :post-id="postData.id"
                    :post-slug="postData.slug ? postData.slug : ''"
                    :post-count-comments="postData.countComments"
                    :post-is-draft="postIsDraft"></discuss>
                <social-repost class="flex items-center text-center"
                               :post-id="postData.id"
                               :post-slug="'slug' in postData ? postData.slug : ''"></social-repost>
            </div>
        </div>
        <div v-if="'content' in postData" class="post-content">
            <div v-for="value in postData.content" v-html="value"></div>
        </div>
        <div class="layout-center-column flex items-center justify-between text-gray-700">
            <social-repost class="flex items-center text-center"
                           :post-id="postData.id"
                           :post-slug="'slug' in postData ? postData.slug : ''"></social-repost>
            <vote :post-id="postData.id" :current-rating="currentRating" :post-is-draft="postIsDraft"></vote>
        </div>
    </div>
</template>

<script>
import PostHeader from "./PostHeader";
import Vote from './Vote';
import SocialRepost from "./SocialRepost";
import Discuss from "./Discuss";

export default {
    components: {
        PostHeader,
        Vote,
        SocialRepost,
        Discuss,
    },

    props: {
        postData: {
            type: Object,
            required: true,
        },
        author: {
            type: Object,
            required: true,
        },
        isPreview: {
            type: Boolean,
            default: false,
        },
        isSinglePage: {
            type: Boolean,
            default: false,
        }
    },

    created() {
        window.addEventListener('click', this.listenAnchorLinkClicks);
    },

    methods: {
        listenAnchorLinkClicks(event) {
            let target = event.target;
            if (target.localName === 'a' && target.hash.indexOf('#anchor-') === 0) {
                event.preventDefault();

                let element = document.getElementById(target.hash.substr(1));

                if (element) {
                    let navBar = document.getElementById('navBar'),
                        navBarHeight = 16; // Default offset

                    if (navBar) {
                        navBarHeight += navBar.clientHeight;
                    }

                    window.scrollTo({
                        top: element.offsetTop - navBarHeight,
                        behavior: 'smooth',
                    })
                }
            }
        }
    },

    computed: {
        currentRating() {
            if (this.postIsDraft) {
                return 0;
            }

            return this.postData.countPositiveVotes - this.postData.countNegativeVotes;
        },

        postIsDraft() {
            return !!(this.postData.isDraft);
        }
    },

    beforeRouteLeave(to, from, next) {
        window.removeEventListener('click', this.listenAnchorLinkClicks);

        next();
    },
}
</script>
