<template>
    <div>
        <div class="flex items-center">
            <router-link :to="'/user/' + authorId" class="flex items-center">
                <img
                    :src="authorAvatar"
                    class="rounded-full w-4 h-4" alt="">
                <span class="ml-2">{{ authorLastName }} {{ authorFirstName }}</span>
            </router-link>
            <span class="ml-6">{{ postDatePublication }}</span>
        </div>
        <button-more v-if="postId"
                     :post-id="postId"
                     :author-id="authorId"
                     :is-draft="postIsDraft"
                     :is-single-page="isSinglePage"></button-more>
    </div>
</template>

<script>
import ButtonMore from './ButtonMoreWithActionsToPost';
import CustomDate from "../../services/CustomDate";

export default {
    name: 'post-header',

    components: {
        ButtonMore,
    },

    props: {
        postId: {
            type: Number,
            required: true,
        },
        postPostedAt: {
            type: String,
            required: true,
        },
        postIsDraft: {
            type: Boolean,
            default: false,
        },
        authorId: {
            type: Number,
            required: true,
        },
        authorAvatar: {
            type: String,
            required: true,
        },
        authorLastName: {
            type: String,
            required: true,
        },
        authorFirstName: {
            type: String,
            required: true,
        },
        isSinglePage: {
            type: Boolean,
            required: false,
        },
    },

    computed: {
        postDatePublication() {
            let date = new CustomDate(this.postPostedAt);
            return date.showPassedTime();
        },
    },
};
</script>
