<template>
    <div :class="['bg-white', 'py-6', 'border-b']">
        <router-link :to="'/' + slug"
                     class="flex items-center">
            <img v-if="coverImage !== '' && coverImage !== null"
                 :src="coverImage" alt="" class="hidden sm:block w-12 h-12 mr-4">
            <div class="text-2xl leading-7 hover:text-indigo-600">{{ title }}</div>
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'post-search-description',

    props: {
        id: {
            type: Number,
            required: true,
        },
        title: String,
        description: String,
        slug: String,
        coverImage: String,
    }
};
</script>
