<template>
    <div class="hidden md:flex">
        <a href="#" class="w-8 h-6 rounded bg-indigo-600 hover:bg-indigo-700"><i
            class="text-xs text-white fa fa-vk" aria-hidden="true"></i></a>
        <a href="#" class="w-8 h-6 ml-2 rounded bg-blue-800 hover:bg-blue-900"><i
            class="text-xs text-white fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="w-8 h-6 ml-2 rounded bg-blue-500 hover:bg-blue-600"><i
            class="text-xs text-white fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="w-8 h-6 ml-2 rounded bg-indigo-500 hover:bg-indigo-600"><i
            class="text-xs text-white fab fa-telegram-plane" aria-hidden="true"></i></a>
    </div>
</template>

<script>
export default {
    name: 'social-repost',

    props: {
        postId: {
            type: Number,
            required: true,
        },
        postSlug: {
            type: String,
            default: ''
        }
    },
};
</script>
