<template>
    <div class="flex items-center ml-auto">
        <div class="mr-2 cursor-pointer"
             @click="makeVote(1)"
             v-bind:class="{'text-green-600': isLike}">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-8 fill-current">
                <path
                    d="M18.895 10.605c.609 0 1.102.496 1.102 1.108v.043a16.864 16.864 0 01-.819 4.253l-.003.01a16.834 16.834 0 01-2.716 5.075l-.002.003-.159.19H7.923v-9.43L12.78 6.05l.003-.004a4.77 4.77 0 00.774-1.447l.003-.007a4.84 4.84 0 00.234-1.22c.2-.2.475-.323.779-.323.568 0 .956.379 1.187 1.024.276.77.252 1.643.252 1.643a4.828 4.828 0 01-1.042 3l.002.002-1.6 1.888h5.522zM3.015 21.287v-9.43h3.272v9.43H3.014z"/>
            </svg>
        </div>
        <span class="mr-2 font-bold"
              @click=""
              v-bind:class="{'text-green-600': rating > 0, 'text-red-600': rating < 0}">{{
                rating
            }}</span>
        <div class="cursor-pointer"
             @click="makeVote(-1)"
             v-bind:class="{'text-red-600': isDislike}">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="32"
                 class="w-6 h-8 fill-current">
                <path
                    d="M4.109 21.288a1.105 1.105 0 01-1.103-1.107v-.044c.095-1.478.37-2.903.82-4.253l.002-.009A16.833 16.833 0 016.544 10.8l.002-.002.16-.19h8.375v9.43l-4.859 5.808-.003.004a4.77 4.77 0 00-.774 1.447l-.002.007a4.84 4.84 0 00-.235 1.22c-.2.2-.474.323-.778.323-.569 0-.956-.38-1.188-1.025-.276-.77-.251-1.642-.251-1.642 0-1.134.391-2.175 1.042-3l-.002-.002 1.6-1.889H4.11zm12.608-1.252v-9.43h3.272v9.43h-3.272z"/>
            </svg>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Noty from 'noty'; // TODO fix on mobiles and colors

export default {
    name: 'vote',

    props: {
        postId: {
            type: Number,
            required: true,
        },
        currentRating: {
            type: Number,
            default: 0,
        },
        postIsDraft: {
            type: Boolean,
            default: false,
        },
    },

    data() {
        return {
            vote: 0,
            rating: this.currentRating
        };
    },

    methods: {
        makeVote(vote) {
            if (this.postIsDraft) {
                new Noty({
                    text: this.$t('First, you need to publish the post'),
                    type: 'error',
                    timeout: 3000
                }).show();

                return;
            }

            if (this.$store.state.authenticatedUser.isAuthenticated === false) {
                EventDispatcher.fire('showPopup', 'login');
                return;
            }

            let localThis = this;

            if ((this.isLike && vote === 1) || (this.isDislike && vote === -1)) {
                axios.delete('/api/v1/authenticated/posts/votes/' + this.postId)
                    .then(response => {
                        if (response.status === 204) {
                            localThis.rating -= localThis.vote;
                            localThis.vote = 0;
                            localThis.$store.commit(
                                'authenticatedUser/ADD_VOTE_IN_STATE',
                                {postId: localThis.postId, vote: 0}
                            );
                        } else {
                            new Noty({
                                text: localThis.$t('Something went wrong. Please try again later'),
                                type: 'error',
                                timeout: 3000
                            }).show();
                        }
                    })
                    .catch(error => {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    });
            } else {
                axios.post('/api/v1/authenticated/posts/votes/' + this.postId, {type: vote})
                    .then(response => {
                        if (response.status === 201) {
                            localThis.rating += (vote - localThis.vote);
                            localThis.vote = vote;
                            localThis.$store.commit(
                                'authenticatedUser/ADD_VOTE_IN_STATE',
                                {postId: localThis.postId, vote: vote}
                            );
                        } else {
                            new Noty({
                                text: localThis.$t('Something went wrong. Please try again later'),
                                type: 'error',
                                timeout: 3000
                            }).show();
                        }
                    })
                    .catch(error => {
                        new Noty({
                            text: localThis.$t('Something went wrong. Please try again later'),
                            type: 'error',
                            timeout: 3000
                        }).show();
                    });
            }
        }
    },

    created() {
        if (this.postIsDraft === false) {
            if (this.$store.state.authenticatedUser.isAuthenticated) {
                this.vote = this.$store.getters["authenticatedUser/getVoteByPostId"](this.postId)
            }

            let localThis = this;
            this.$store.subscribe(mutation => {
                // TODO make the describe comment
                if (mutation.type === 'authenticatedUser/ADD_VOTE_IN_STATE'
                    && mutation.payload.postId == localThis.postId) {
                    localThis.vote = mutation.payload.vote;
                } else if (mutation.type === 'authenticatedUser/SET_USER_AS_NOT_AUTHENTICATED') {
                    localThis.vote = 0;
                }
            });
        }
    },

    computed: {
        isLike() {
            return this.vote === 1;

        },

        isDislike() {
            return this.vote === -1;
        },
    },
};
</script>
