<template>
    <div class="fixed inset-0 z-50 overflow-auto bg-gray-600 bg-opacity-50 flex" v-if="isActive">
        <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex" v-click-outside="closePopup">
            <div class="relative">
                <button @click="closePopup"
                        class="absolute top-0 right-0 cursor-pointer"
                        :title="$t('Close')">
                    <svg class="h-4 w-4 fill-current text-gray-400 hover:text-gray-600" viewBox="0 0 329.26933 329"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
                    </svg>
                </button>
            </div>
            <component :is="content"></component>
            <authorization></authorization>
        </div>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import axios from 'axios';
import Vue from 'vue';
import Authorization from "../../components/user/Authorization";
import Noty from "noty";

export default {
    name: 'main-popup',


    components: {
        Authorization,
    },

    data() {
        return {
            isActive: false,
            title: '',
            content: null,
            popups: {},
        };
    },

    methods: {
        closePopup() {
            this.isActive = false;
            this.content = null;
        },

        async showLoginPopup() {
            let localThis = this;
            await axios.get('/popups/login')
                .then(response => {
                    localThis.content = Vue.compile(response.data);
                    localThis.isActive = true;
                    // localThis.popups.login = response.data; - This does not work. Have no idea why.

                    /**
                     * If localThis.popups contains 'login' then we already listen the 'userAuthorized' event.
                     * We need to call the listen() method only here(below).
                     */
                    EventDispatcher.listen('userAuthorized', () => {
                        localThis.closePopup();
                    });
                })
                .catch(error => {
                    new Noty({
                        text: localThis.$t('Something went wrong'),
                        type: 'error',
                        timeout: 3000
                    }).show();
                })
        },

        /**
         * Calls the fire method of the EventDispatcher.
         * This method is necessary for the login popup.
         *
         * @param {string} eventName
         * @param data
         */
        fireEventDispatcher(eventName, data) {
            EventDispatcher.fire(eventName, data)
        },

    },

    created() {
        EventDispatcher.listen('showPopup', (popup) => {
            switch (popup) {
                case 'login':
                    this.showLoginPopup();
            }
        });
    },

    directives: {
        ClickOutside,
    },
};
</script>
