<template>
    <div>
        <div class="mt-4 bg-white">
            <div class="px-6 border-b">
                <router-link :to="'/user/' + userId + '/posts'"
                             class="inline-block px-4 py-1 hover:text-indigo-400"
                >{{ $t('In release') }}
                </router-link>
                <span
                    class="inline-block px-4 py-2 text-indigo-400 border-b-2 border-indigo-400"
                >{{ $t('Drafts') }}
                </span>
            </div>
        </div>
        <list-posts link-to-posts-data="/api/v1/users/posts/drafts"
                    :query-params="{userId: userId}"
                    is-draft-list="true"></list-posts>
    </div>
</template>

<script>
import ListPosts from "../../../components/post/ListPosts";

export default {
    components: {
        ListPosts,
    },

    props: {
        userId: {
            type: Number,
            required: true
        }
    },
}
</script>
