<template>
    <div>
        <nav id="navBar" class="min-w-80 sm:max-w-full sm:w-full bg-indigo-900 text-indigo-200 sticky top-0 h-14 z-50">
            <div class="container mx-auto flex">
                <div class="hidden lg:flex w-64 items-center">
                    <router-link to="/" class="ml-4 lg:ml-0">
                        <svg class="h-8" viewBox="0 0 90 24" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#fff" stroke="null">
                                <path
                                    d="M.179 11.96v12.02h4.758v-2.925c0-1.613-.1-5.407-.229-8.468-.128-3.05-.228-5.687-.21-5.86.018-.223.824 2.027 2.91 8.11a1900.96 1900.96 0 003.01 8.776l.128.367h3.24l1.454-4.229C20.017 5.83 19.843 6.302 19.843 6.94c.01.319-.091 2.993-.22 5.938s-.228 6.652-.228 8.226v2.877h4.758V-.06h-6.177l-2.882 8.632c-1.583 4.75-2.9 8.621-2.928 8.602-.037-.02-1.354-3.91-2.937-8.631L6.355-.06H.18v12.02h0zM28.18 11.96v12.02h4.968c3.926 0 5.152-.029 5.875-.145 2.004-.318 3.267-.927 4.392-2.114 1.171-1.236 1.583-2.327 1.666-4.403.073-1.776-.184-2.77-1.007-3.92a4.972 4.972 0 00-2.068-1.612l-.549-.222.522-.28c.732-.396 1.738-1.487 2.095-2.27.393-.878.522-1.534.522-2.654-.019-1.806-.476-3.042-1.583-4.21-.824-.869-1.776-1.41-3.13-1.767-1.473-.396-2.26-.444-7.1-.444H28.18v12.02h0zm9.708-7.772c1.227.318 1.904 1.178 1.986 2.54.11 1.785-.75 2.847-2.544 3.147-.33.058-1.446.106-2.489.106h-1.903V3.975l2.27.049c1.244.029 2.452.096 2.68.164h0zm.723 9.51c.348.125.65.338.98.685.594.618.795 1.256.795 2.453 0 1.255-.43 2.076-1.372 2.665-.668.415-1.428.521-3.853.521h-2.223v-6.585l2.59.039c2.241.039 2.644.068 3.083.222h0z"
                                    stroke-width=".1"/>
                                <path
                                    d="M48.677 11.96v12.02h4.758V13.649H62.494V23.98h4.758V-.06h-4.758v9.752H53.435V-.06h-4.758v12.02z"
                                    fill="#1360a6" stroke-width=".1"/>
                                <path
                                    d="M71.278 11.96v12.02h4.758l.019-7.82.027-7.821 4.52 7.82 4.511 7.821h4.74V-.06h-4.758l-.018 7.84-.028 7.85-4.529-7.85L76-.06h-4.721v12.02z"
                                    stroke-width=".1"/>
                            </g>
                        </svg>
                    </router-link>
                </div>
                <div class="min-w-80 sm:w-full flex flex-grow justify-between">
                    <div class="flex lg:hidden w-64 items-center">
                        <router-link to="/" class="ml-4 lg:ml-0">
                            <svg class="h-8" viewBox="0 0 90 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#fff" stroke="null">
                                    <path
                                        d="M.179 11.96v12.02h4.758v-2.925c0-1.613-.1-5.407-.229-8.468-.128-3.05-.228-5.687-.21-5.86.018-.223.824 2.027 2.91 8.11a1900.96 1900.96 0 003.01 8.776l.128.367h3.24l1.454-4.229C20.017 5.83 19.843 6.302 19.843 6.94c.01.319-.091 2.993-.22 5.938s-.228 6.652-.228 8.226v2.877h4.758V-.06h-6.177l-2.882 8.632c-1.583 4.75-2.9 8.621-2.928 8.602-.037-.02-1.354-3.91-2.937-8.631L6.355-.06H.18v12.02h0zM28.18 11.96v12.02h4.968c3.926 0 5.152-.029 5.875-.145 2.004-.318 3.267-.927 4.392-2.114 1.171-1.236 1.583-2.327 1.666-4.403.073-1.776-.184-2.77-1.007-3.92a4.972 4.972 0 00-2.068-1.612l-.549-.222.522-.28c.732-.396 1.738-1.487 2.095-2.27.393-.878.522-1.534.522-2.654-.019-1.806-.476-3.042-1.583-4.21-.824-.869-1.776-1.41-3.13-1.767-1.473-.396-2.26-.444-7.1-.444H28.18v12.02h0zm9.708-7.772c1.227.318 1.904 1.178 1.986 2.54.11 1.785-.75 2.847-2.544 3.147-.33.058-1.446.106-2.489.106h-1.903V3.975l2.27.049c1.244.029 2.452.096 2.68.164h0zm.723 9.51c.348.125.65.338.98.685.594.618.795 1.256.795 2.453 0 1.255-.43 2.076-1.372 2.665-.668.415-1.428.521-3.853.521h-2.223v-6.585l2.59.039c2.241.039 2.644.068 3.083.222h0z"
                                        stroke-width=".1"/>
                                    <path
                                        d="M48.677 11.96v12.02h4.758V13.649H62.494V23.98h4.758V-.06h-4.758v9.752H53.435V-.06h-4.758v12.02z"
                                        fill="#1360a6" stroke-width=".1"/>
                                    <path
                                        d="M71.278 11.96v12.02h4.758l.019-7.82.027-7.821 4.52 7.82 4.511 7.821h4.74V-.06h-4.758l-.018 7.84-.028 7.85-4.529-7.85L76-.06h-4.721v12.02z"
                                        stroke-width=".1"/>
                                </g>
                            </svg>
                        </router-link>
                    </div>
                    <div class="flex items-center relative hidden lg:flex">
                        <input type="text"
                               v-model.trim="searchQuery"
                               v-on:keyup.enter="search"
                               class="w-64 rounded bg-indigo-800 py-2 focus:outline-none pl-10 text-white"
                               :placeholder="$t('Search')">
                        <div class="absolute top-2">
                            <svg class="w-4 mt-3 ml-3 fill-current text-gray-600" viewBox="0 0 515.558 515.558"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M378.344 332.78c25.37-34.645 40.545-77.2 40.545-123.333C418.889 93.963 324.928.002 209.444.002S0 93.963 0 209.447s93.961 209.445 209.445 209.445c46.133 0 88.692-15.177 123.337-40.547l137.212 137.212 45.564-45.564L378.344 332.78zm-168.899 21.667c-79.958 0-145-65.042-145-145s65.042-145 145-145 145 65.042 145 145-65.043 145-145 145z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <router-link to="/writing"
                                     v-if="$store.state.authenticatedUser.isAuthenticated && canCreatePost"
                                     class="bg-green-600 text-white rounded mx-4"
                        >
                            <span class="hidden xl:block px-4 py-2 font-bold">{{ $t('Make a post') }}</span>
                            <svg class="hidden sm:block xl:hidden w-6 m-2 fill-current"
                                 :title="$t('Make a post')"
                                 viewBox="0 0 509.633 509.633">
                                <defs/>
                                <path
                                    d="M425.56 14.181L120.785 300.262l-4.668 14.01c-11.383 34.209-16.578 49.822-41.041 74.285L0 463.633l95.46 31.819 43.265-43.266c24.458-24.455 40.072-29.65 74.278-41.032l14.097-4.697L509.633 98.253zm42.547 84.974l-40.583 44.269L381.13 97.03l43.77-41.084zM155.37 308.943l203.876-191.371 47.987 47.987-189.035 206.213zm-15.021 27.405l50.575 50.576c-25.95 8.884-44.591 16.939-67.601 38.428L101.92 403.95c21.49-23.012 29.546-41.652 38.429-67.602zm-52.993 124.78l-31.819-10.606 25.265-25.265 21.214 21.213z"/>
                            </svg>
                        </router-link>
                    </div>
                    <user-nav-bar-menu></user-nav-bar-menu>
                </div>
                <div class="w-0 lg:w-64"></div>
            </div>
        </nav>
        <div class="container mx-auto flex">
            <div :class="['w-0', {'lg:w-64': !fullCenter}, 'border-r', 'border-gray-400']">
            </div>
            <div class="min-w-80 w-full flex-grow text-gray-900">
                <router-view></router-view>
            </div>
            <div :class="['w-0', {'lg:w-64': !fullCenter}, 'border-l', 'border-gray-400']"></div>
        </div>
        <div class="min-w-80 sm:max-w-full sm:w-full bg-indigo-900 text-indigo-300 py-8">
            <div class="container mx-auto flex">
                <div class="w-0 lg:w-64 flex items-center">
                </div>
                <div class="flex flex-grow flex-wrap">
                    <div class="w-full pb-4 px-8 flex flex-wrap justify-between border-b border-indigo-800">
                        <div class="flex items-center">
                            <router-link to="/" class="hover:text-indigo-600">{{
                                    $t('Main page')
                                }}
                            </router-link>
                        </div>
                        <div class="flex items-center">
                            <router-link to="/promo" class="hover:text-indigo-600">{{
                                    $t('Contacts and Advertisement')
                                }}
                            </router-link>
                        </div>
                    </div>
                    <div class="w-full py-2 px-8 flex flex-wrap justify-between text-sm">
                        <div>
                            <router-link to="/privacy-policy"
                                         class="block hover:text-indigo-600">
                                {{ $t('Privacy policy') }}
                            </router-link>
                            <router-link to="/polzovatelskoe-soglashenie"
                                         class="block hover:text-indigo-600">
                                {{ $t('User agreement') }}
                            </router-link>
                        </div>
                        <div class="flex items-center text-center">
                            <a href="#" target="_blank"
                               class="w-8 h-8 rounded-full bg-indigo-600 hover:bg-indigo-700"><i
                                class="mt-2 text-white fa fa-vk" aria-hidden="true"></i></a>
                            <a href="#" target="_blank" class="w-8 h-8 ml-2 rounded-full bg-blue-800 hover:bg-blue-900"><i
                                class="mt-2 text-white fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" target="_blank" class="w-8 h-8 ml-2 rounded-full bg-blue-500 hover:bg-blue-600"><i
                                class="mt-2 text-white fab fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"
                               class="w-8 h-8 ml-2 rounded-full bg-indigo-500 hover:bg-indigo-600"><i
                                class="mt-2 text-white fab fa-telegram-plane" aria-hidden="true"></i></a>
                            <a href="#" target="_blank" class="w-8 h-8 ml-2 rounded-full bg-red-700 hover:bg-red-800"
                               :title="$t('Yandex Dzen')"><i class="mt-2 text-white fab fa-yandex-international"
                                                             aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="w-0 lg:w-64"></div>
            </div>
        </div>
        <main-popup></main-popup>
    </div>
</template>

<script>

import UserNavBarMenu from './UserNavBarMenu';
import MainPopup from './popups/MainPopup';
import Noty from "noty";

export default {
    components: {
        UserNavBarMenu,
        MainPopup
    },

    data() {
        return {
            /**
             * This means that the middle (center) column takes up all the space,
             * the width of the left and right columns is 0.
             */
            fullCenter: false,

            searchQuery: ''
        };
    },

    created() {
        let localThis = this;
        window.EventDispatcher.listen('centerColumnIsFull', function () {
            localThis.fullCenter = true;
        });
        window.EventDispatcher.listen('centerColumnIsStandard', function () {
            localThis.fullCenter = false;
        });
    },

    methods: {
        search() {
            if (this.searchQuery === '') {
                return;
            }

            if (this.searchQuery.length < 3 || this.searchQuery.length > 100) {
                new Noty({
                    text: this.$t('Search query must be more than 3 and less than 100 characters'),
                    type: 'error',
                    timeout: 3000
                }).show();

                return;
            }

            if (this.$route.name === 'searchPage' && this.$route.params.query === this.searchQuery) {
                new Noty({
                    text: this.$t('The same page'),
                    type: 'info',
                    timeout: 3000
                }).show();

                return;
            }

            this.$router.push({
                name: 'searchPage',
                params: {
                    query: this.searchQuery
                }
            });

            this.searchQuery = '';
        }

    },

    computed: {
        canCreatePost() {
            return this.$store.state.authenticatedUser.isAuthenticated
                && typeof this.$store.state.authenticatedUser.commonData.permissions === 'object'
                && this.$store.state.authenticatedUser.commonData.permissions['post create'] === true;
        }
    }
};
</script>
