<template>
    <div class="flex items-center">
        <button
            class="block py-4 px-2 hover:text-indigo-600 cursor-pointer"
            v-if="!$store.state.authenticatedUser.isAuthenticated"
            @click="showLoginPopup">{{ $t('Sign in') }}
        </button>
        <div class="relative py-2" v-if="$store.state.authenticatedUser.isAuthenticated"
             v-click-outside="setUserNavMenuInactive">
            <div class="flex items-center">
                <router-link :to="'/user/' + this.$store.state.authenticatedUser.commonData.id"
                             class="block h-10 w-10 rounded-full overflow-hidden cursor-pointer"
                             :title="$t('Open profile')">
                    <img class="h-full w-full object-cover"
                         :src="$store.state.authenticatedUser.commonData.avatar">
                </router-link>
                <button
                    class="py-2 px-3 text-white outline-none focus:outline-none hover:text-indigo-600"
                    v-bind:class="{'text-indigo-600': userMenuIsActive}"
                    @click="userMenuIsActive = !userMenuIsActive"
                    :title="$t('Show more')">
                    <svg class="fill-current w-3 h-3" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 213.333 213.333">
                        <path d="M0 53.333L106.667 160 213.333 53.333z"/>
                    </svg>
                </button>
            </div>
            <transition name="user-menu" mode="out-in">
                <div
                    class="absolute right-0 md:-right-4 py-2 w-40 bg-white rounded-lg shadow-all-side-md"
                    v-if="userMenuIsActive">
                    <router-link :to="'/user/' + this.$store.state.authenticatedUser.commonData.id"
                                 class="block px-4 py-2 text-gray-900 hover:bg-gray-300 border-b cursor-pointer"
                                 :title="$t('Open profile')">{{ userFullName }}
                    </router-link>
                    <router-link :to="'/user/' + this.$store.state.authenticatedUser.commonData.id + '/bookmarks'"
                                 class="block px-4 py-2 text-gray-900 hover:bg-gray-300 cursor-pointer">
                        <svg class="fill-current inline-block w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512.003 512.003">
                            <path
                                d="M362.668 0H149.335c-23.521 0-42.667 19.135-42.667 42.667v458.667c0 4.063 2.313 7.771 5.958 9.573 3.688 1.792 8 1.365 11.208-1.115l132.167-101.667 132.167 101.667a10.656 10.656 0 006.5 2.208c1.604 0 3.208-.365 4.708-1.094a10.683 10.683 0 005.958-9.573V42.667C405.335 19.135 386.189 0 362.668 0zm21.333 479.667l-121.5-93.458a10.674 10.674 0 00-13 0l-121.5 93.458v-437c0-11.76 9.563-21.333 21.333-21.333h213.333c11.771 0 21.333 9.573 21.333 21.333v437z"/>
                        </svg>
                        {{ $t('Bookmarks') }}
                    </router-link>
                    <router-link to="/user/settings"
                                 class="block px-4 py-2 text-gray-900 hover:bg-gray-300 cursor-pointer">
                        <svg class="fill-current inline-block w-4 h-4 mr-2" viewBox="0 0 512 512">
                            <defs/>
                            <path
                                d="M272.066 512h-32.133c-25.989 0-47.134-21.144-47.134-47.133v-10.871c-11.049-3.53-21.784-7.986-32.097-13.323l-7.704 7.704c-18.659 18.682-48.548 18.134-66.665-.007l-22.711-22.71c-18.149-18.129-18.671-48.008.006-66.665l7.698-7.698c-5.337-10.313-9.792-21.046-13.323-32.097h-10.87C21.145 319.2 0 298.056 0 272.067v-32.134C0 213.944 21.145 192.8 47.134 192.8h10.87c3.531-11.05 7.986-21.784 13.323-32.097L63.623 153c-18.666-18.646-18.151-48.528.006-66.665l22.713-22.712c18.159-18.184 48.041-18.638 66.664.006l7.697 7.697c10.313-5.336 21.048-9.792 32.097-13.323v-10.87C192.8 21.144 213.944 0 239.934 0h32.133C298.056 0 319.2 21.144 319.2 47.133v10.871c11.049 3.53 21.784 7.986 32.097 13.323l7.704-7.704c18.659-18.682 48.548-18.134 66.665.007l22.711 22.71c18.149 18.129 18.671 48.008-.006 66.665l-7.698 7.698c5.337 10.313 9.792 21.046 13.323 32.097h10.87c25.989 0 47.134 21.144 47.134 47.133v32.134c0 25.989-21.145 47.133-47.134 47.133h-10.87c-3.531 11.05-7.986 21.784-13.323 32.097l7.704 7.704c18.666 18.646 18.151 48.528-.006 66.665l-22.713 22.712c-18.159 18.184-48.041 18.638-66.664-.006l-7.697-7.697c-10.313 5.336-21.048 9.792-32.097 13.323v10.871c0 25.987-21.144 47.131-47.134 47.131zM165.717 409.17c14.327 8.473 29.747 14.874 45.831 19.025 6.624 1.709 11.252 7.683 11.252 14.524v22.148c0 9.447 7.687 17.133 17.134 17.133h32.133c9.447 0 17.134-7.686 17.134-17.133v-22.148c0-6.841 4.628-12.815 11.252-14.524 16.084-4.151 31.504-10.552 45.831-19.025 5.895-3.486 13.4-2.538 18.243 2.305l15.688 15.689c6.764 6.772 17.626 6.615 24.224.007l22.727-22.726c6.582-6.574 6.802-17.438.006-24.225l-15.695-15.695c-4.842-4.842-5.79-12.348-2.305-18.242 8.473-14.326 14.873-29.746 19.024-45.831 1.71-6.624 7.684-11.251 14.524-11.251h22.147c9.447 0 17.134-7.686 17.134-17.133v-32.134c0-9.447-7.687-17.133-17.134-17.133H442.72c-6.841 0-12.814-4.628-14.524-11.251-4.151-16.085-10.552-31.505-19.024-45.831-3.485-5.894-2.537-13.4 2.305-18.242l15.689-15.689c6.782-6.774 6.605-17.634.006-24.225l-22.725-22.725c-6.587-6.596-17.451-6.789-24.225-.006l-15.694 15.695c-4.842 4.843-12.35 5.791-18.243 2.305-14.327-8.473-29.747-14.874-45.831-19.025-6.624-1.709-11.252-7.683-11.252-14.524v-22.15c0-9.447-7.687-17.133-17.134-17.133h-32.133c-9.447 0-17.134 7.686-17.134 17.133v22.148c0 6.841-4.628 12.815-11.252 14.524-16.084 4.151-31.504 10.552-45.831 19.025-5.896 3.485-13.401 2.537-18.243-2.305l-15.688-15.689c-6.764-6.772-17.627-6.615-24.224-.007l-22.727 22.726c-6.582 6.574-6.802 17.437-.006 24.225l15.695 15.695c4.842 4.842 5.79 12.348 2.305 18.242-8.473 14.326-14.873 29.746-19.024 45.831-1.71 6.624-7.684 11.251-14.524 11.251H47.134C37.687 222.8 30 230.486 30 239.933v32.134c0 9.447 7.687 17.133 17.134 17.133h22.147c6.841 0 12.814 4.628 14.524 11.251 4.151 16.085 10.552 31.505 19.024 45.831 3.485 5.894 2.537 13.4-2.305 18.242l-15.689 15.689c-6.782 6.774-6.605 17.634-.006 24.225l22.725 22.725c6.587 6.596 17.451 6.789 24.225.006l15.694-15.695c3.568-3.567 10.991-6.594 18.244-2.304z"/>
                            <path
                                d="M256 367.4c-61.427 0-111.4-49.974-111.4-111.4S194.573 144.6 256 144.6 367.4 194.574 367.4 256 317.427 367.4 256 367.4zm0-192.8c-44.885 0-81.4 36.516-81.4 81.4s36.516 81.4 81.4 81.4 81.4-36.516 81.4-81.4-36.515-81.4-81.4-81.4z"/>
                        </svg>
                        {{ $t('Settings') }}
                    </router-link>
                    <button @click="logout"
                            class="block w-full text-left px-4 py-2 text-gray-900 hover:bg-gray-300">
                        <svg class="fill-current inline-block w-4 h-4 mr-2" viewBox="0 0 512.016 512">
                            <defs/>
                            <path
                                d="M496 240.007812H293.332031c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-16 16-16H496c8.832031 0 16 7.167969 16 16 0 8.832032-7.167969 16-16 16zm0 0"/>
                            <path
                                d="M416 320.007812c-4.097656 0-8.191406-1.558593-11.308594-4.691406-6.25-6.253906-6.25-16.386718 0-22.636718l68.695313-68.691407-68.695313-68.695312c-6.25-6.25-6.25-16.382813 0-22.632813 6.253906-6.253906 16.386719-6.253906 22.636719 0l80 80c6.25 6.25 6.25 16.382813 0 22.632813l-80 80c-3.136719 3.15625-7.230469 4.714843-11.328125 4.714843zm-245.332031 192c-4.566407 0-8.898438-.640624-13.226563-1.984374L29.054688 467.25C11.585938 461.148438 0 444.871094 0 426.675781v-384C0 19.144531 19.136719.0078125 42.667969.0078125c4.5625 0 8.894531.6406255 13.226562 1.9843755l128.382813 42.773437c17.472656 6.101563 29.054687 22.378906 29.054687 40.574219v384c0 23.53125-19.132812 42.667968-42.664062 42.667968zm-128-480C36.800781 32.007812 32 36.808594 32 42.675781v384c0 4.542969 3.050781 8.765625 7.402344 10.28125L167.1875 479.539062c.917969.296876 2.113281.46875 3.480469.46875 5.867187 0 10.664062-4.800781 10.664062-10.667968v-384c0-4.542969-3.050781-8.765625-7.402343-10.28125L46.144531 32.476562c-.917969-.296874-2.113281-.46875-3.476562-.46875zm0 0"/>
                            <path
                                d="M325.332031 170.675781c-8.832031 0-16-7.167969-16-16v-96c0-14.699219-11.964843-26.667969-26.664062-26.667969h-240c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-15.9999995 16-15.9999995h240c32.363281 0 58.664062 26.3046875 58.664062 58.6679685v96c0 8.832031-7.167969 16-16 16zm-42.664062 277.332031h-85.335938c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-16 16-16h85.335938c14.699219 0 26.664062-11.96875 26.664062-26.667968v-96c0-8.832032 7.167969-16 16-16s16 7.167968 16 16v96c0 32.363281-26.300781 58.667968-58.664062 58.667968zm0 0"/>
                        </svg>
                        {{ $t('Sign out') }}
                    </button>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import Noty from "noty";

export default {
    name: 'user-nav-bar-menu',

    data() {
        return {
            userMenuIsActive: false,
        };
    },

    methods: {
        setUserNavMenuInactive() {
            this.userMenuIsActive = false;
        },

        /**
         * Checks the ability to navigate to the new page from the old.
         *
         * @param toPage
         * @param fromPage
         *
         * @returns {boolean}
         */
        canGoTo(toPage, fromPage) {
            let result = false;

            if (fromPage.name !== toPage.name) {
                result = true;
            } else if (fromPage.name === 'userProfile/posts'
                && (parseInt(fromPage.params.id, 10) !== this.$store.state.authenticatedUser.commonData.id)) {
                result = true;
            }

            return result;
        },

        showLoginPopup() {
            EventDispatcher.fire('showPopup', 'login');
        },

        logout() {
            let localThis = this;

            this.$store.dispatch('authenticatedUser/logout')
            .then (status => {
               if (status === true) {
                   localThis.setUserNavMenuInactive();

                   if (window.location.pathname !== '/') {
                       localThis.$router.push('/');
                   }
               } else {
                   new Noty({
                       text: this.$t('Something went wrong. Please try again later'),
                       type: 'info',
                       timeout: 3000
                   }).show();
               }
            });
        }
    },

    computed: {
        userFullName() {
            return this.$store.state.authenticatedUser.commonData.lastName + ' '
                + this.$store.state.authenticatedUser.commonData.firstName;
        },
    },

    watch: {
        $route(to, from) {
            let setUserNavMenuInactive = false;

            if (from.name !== to.name) {
                switch (to.name) {
                    case 'userProfile/posts/inRelease':
                    case 'userProfile/bookmarks/posts':
                    case 'userProfile/settings':
                        setUserNavMenuInactive = true;
                        break;
                }
            } else if (from.name === 'userProfile/posts/inRelease'
                && (parseInt(from.params.id, 10) !== this.$store.state.authenticatedUser.commonData.id)) {
                setUserNavMenuInactive = true;
            }


            if (setUserNavMenuInactive) {
                this.setUserNavMenuInactive();
            }
        }
    },

    directives: {
        ClickOutside,
    },
};
</script>
